$default: get($view-contact-title, 'default');

[data-view-component="#{$default}"] {
  font-size: get($font, 'font-size.largest');
  font-weight: get($font, 'font-weight.bolder');
  line-height: get($font, 'line-height.narrow');

  @include tablet() {
    font-size: get($font, 'font-size.medium');
  }
}
