@import '_kicl';

@font-face {
  font-family: $kicl_font_name;

  font-weight: normal;
  font-style: normal;

  src:url('kicl.eot?1g05q6');
  src:url('kicl.eot?#iefix1g05q6') format('embedded-opentype'),
  url('kicl.ttf?1g05q6') format('truetype'),
  url('kicl.woff?1g05q6') format('woff'),
  url('kicl.svg?1g05q6#kicl') format('svg');
}