<section class="me">
	<throbber data-emit-from="behance.user" data-show-on-default="true"></throbber>
	
	<h1>{{content.me.title}}</h1>

	<behance-user></behance-user>
	
	<section class="experience">
		<h1>{{content.me.experience.title}}</h1>
		<behance-experience></behance-experience>
	</section>
</section>
<section class="site">
	<h1>{{content.site.title}}</h1>

	<h2>{{content.site.tool.title}}</h2>
	
	<ul class="tool">
		<li
			ng-repeat="tool in content.site.tool.list"
			ng-attr-class="{{tool.class}}"
		>
			<a
				ng-href="{{tool.link}}"
				ng-attr-title="{{tool.name}}"
				target="_blank"
			>
				<img ng-src="{{tool.image}}">
			</a>

			<blockquote>
				<p ng-repeat="message in tool.message">{{message}}</p>
				<footer>
					- <cite><a ng-href="{{tool.quote.link}}" target="_blank">{{tool.quote.name}}</a></cite>
				</footer>
			</blockquote>
		</li>
	</ul>
</section>