@import '_import';

[data-route] {

}

header[role=banner],
footer[role=contentinfo],
main {
	@include set-transition(opacity $faster, transform $faster);
}

header[role=banner],
footer[role=contentinfo],
main > section {
	padding: 0 $gutter;
}

header[role=banner],
footer[role=contentinfo] {
	padding-bottom: $gutter;
	padding-top: $gutter;
}


header[role=banner] {
	@include largemobile() {
		padding: 0;
	}
}

main {
	> section {
		@include set-transition(padding-top, min-height);
	}
}

.route-enter,
.route-leave {
	@include transition(opacity $speed);

	pointer-events: none;
	position: absolute;
	width: 100%;
}

.route-enter {
	opacity: 0;
	z-index: 1;

	+ .route-enter {
		display: none;
	}

	&.route-enter-active {
		opacity: 1;
	}
}

.route-leave {
	opacity: 1;
	z-index: 2;

	&.route-leave-active {
		opacity: 0;
	}
}