$default: get($component-css-transition, 'default');
$appear-active: #{get($component-css-transition, 'appear.active')};
$enter-active: #{get($component-css-transition, 'enter.active')};
$exit-active: #{get($component-css-transition, 'exit.active')};

$transition-duration: get($duration, 'slowest');
$transition-timing-function: get($ease, 'circ.out');

.#{$default} {
  pointer-events: none;
}

.#{$appear-active},
.#{$enter-active},
.#{$exit-active} {
  animation-duration: $transition-duration;
  animation-name: none;
  transition-duration: $transition-duration;
  transition-property: none;
  transition-timing-function: $transition-timing-function;
}
