@import '_import';

[ui-view='experiment'][data-route='experiments.smoke'] {
	canvas {
		@include set-transition(opacity);

		@include opacity(1);

		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;

		&.isLoading {
			@include opacity(0);
		}
	}
}