{
  "presets" : [
    [
      "@babel/preset-env", {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 11"]
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    [
      "babel-plugin-root-import", {
        "paths": [
          {
            "rootPathSuffix": ".",
            "rootPathPrefix": "^"
          },
          {
            "rootPathSuffix": ".Webpack",
            "rootPathPrefix": "!"
          },
          {
            "rootPathSuffix": "src",
            "rootPathPrefix": "~"
          }
        ]
      }
    ],
    ["module-resolver", {
      "root": [
        "./project/src",
        "./project/assets",
        "./project/content"
      ]
    }],
    [
      "transform-class-properties", { "spec": true }
    ],
    ["@babel/transform-runtime"],

    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-export-extensions",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-object-rest-spread",
    "add-module-exports",
    "transform-export-extensions",
    "react-hot-loader/babel"
  ]
}
