.DS_Store
.idea/
*.log

project/**/dev
project/**/build

project/**/secret.json

project/**/src/lib
project/**/src/css/lib
project/**/src/css/fonts
project/**/src/scss/lib
project/**/src/scss/fonts

node_modules
bower_components