$default: get($component-link, 'default');
$active: get($component-link, 'active');

[data-component=#{$default}] {
  display: block;
  font-family: get($font, 'font-family.bold');
  letter-spacing: get($grid, 'narrowest');

  &.#{$active} {
    pointer-events: none;
  }
}
