@import '_import';

.throbber {
	@include set-transition(color, opacity, transform);

	color: $dark_grey;
	font-size: 2.2rem;
	height: 2rem;
	left: 50%;
	margin-left: -1rem;
	margin-top: -1rem;
	position: absolute;
	text-align: center;
	text-indent: -9999px;
	top: 50%;
	width: 2rem;
	z-index: 9999;

	i {
		height: 100%;
		left: 0;
		position: absolute;
		text-indent: 0;
		width: 100%;

		&:before {
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
		}
	}

	span {
		@include hidden();

		overflow: hidden;
	}

	&.ng-enter-active {
		@include opacity(1);
	}

	&.ng-leave {
		color: $grey;
	}

	&.ng-leave-active {
		@include opacity(0);
		@include transform(scale(0));
	}
}