[data-routes="home"] {
  display: grid;
  width: 100vw;
  height: 100vh;
  align-content: center;
  // background-image: url("/image/london.whitechapel.jpg");
  background-color: $dark_white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $heading_font_family;
  font-size: 2rem;
  grid-gap: $gutter;
  justify-items: center;
  text-align: center;

  h1,
  h2,
  p,
  nav {
    position: relative;
    z-index: 1;
  }

  > section {
    display: grid;
    width: 100vw;
    height: 100vh;
    align-content: center;
    justify-content: center;
    background-image: url("/asset/image/london.whitechapel.jpg");
    background-size: cover;
    color: $white;

    &::before {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba($pitch_black, 0.7);
      content: "\0020";

      ~ * {
        position: relative;
        z-index: 1;
      }
    }
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    display: grid;
    width: 60vw;
    height: 60vw;
    align-content: center;
    background-color: $white;
    border-radius: 50%;
    color: $light_black;
    transform: translate3d(-50%, -50%, 0);

    @include landscape () {
      width: 60vh;
      height: 60vh;
    }
  }

  p {
    width: calc(100vw - #{$gutter * 2});
    max-width: 30rem;
    font-family: $font_family;
    font-size: 1rem;
  }

  nav {
    width: 100%;
    text-transform: uppercase;

    ul {
      grid-auto-flow: column;
    }

    a {
      color: $white;

      &:hover {
        color: $red;
      }
    }
  }

  &.#{$cssTransition} {
    .loader {
      z-index: 2;
    }
  }
}
