[data-routes='home'] {
  $logo: get($component-logo, 'default');
  $navigation: get($component-navigation, 'default');
  $background-color: get($black, 'default');
  $space: get($grid, 'default');
  $gap: get($grid, 'narrow');
  $padding-top: get($grid, 'gutter');
  $grid-gap: get($grid, 'narrow');

  background-color: $background-color;
  color: get($white, 'default');
  display: grid;
  grid-gap: $grid-gap;
  grid-template-areas: 'logo . navigation' 'slogan slogan slogan' 'show show show';
  grid-template-columns: min-content auto min-content;
  grid-template-rows: min-content min-content auto;
  overflow: hidden;
  padding: $padding-top $space 0;

  @include mobile() {
    grid-template-columns: min-content auto min-content;
    grid-template-rows: min-content minmax(min-content, 30vh) auto;
    padding: $padding-top $gap 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  a {
    color: get($white, 'default');
  }

  [data-component="#{$logo}"] {
    grid-area: logo;
  }

  [data-component="#{$navigation}"] {
    font-weight: get($font, 'font-weight.bolder');
    grid-area: navigation;
    grid-gap: get($grid, 'narrower');
    grid-template-columns: auto;
    grid-template-rows: auto;
    line-height: 1;

    a {
      justify-self: right;
      text-align: unset;
    }
  }

  p {
    align-self: end;
    grid-area: slogan;
  }

  > section {
    grid-area: show;
    height: 100%;
    justify-self: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0;

    @include landscape() {
      overflow: unset;
    }

    img {
      bottom: 0;
      filter: brightness(0.4);
      height: 100%;
      left: 50%;
      max-width: 1200px;
      position: absolute;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      z-index: 0;

      @include landscape() {
        height: auto;
        width: 100%;
      }
    }
  }
}

[data-entered-routes='home'] {
  $exit-active: #{get($component-css-transition, 'exit.active')};

  $global-header: get($component-global-header, 'default');

  [data-component="#{$global-header}"] {
    &.#{$exit-active} {
      transform: unset;
    }
  }
}
