$css-transition: get($component-css-transition, 'default');
$appear: get($component-css-transition, 'appear.default');
$appear-active: get($component-css-transition, 'appear.active');
$enter: get($component-css-transition, 'enter.default');
$enter-active: get($component-css-transition, 'enter.active');
$exit: get($component-css-transition, 'exit.default');
$exit-active: get($component-css-transition, 'exit.active');
$exit-done: get($component-css-transition, 'exit.active');

$transition-duration: get($duration, 'fast');
$transition-delay: get($duration, 'fastest');
$transition-delay-alternative-component: get($duration, 'faster');

$navigation: get($component-navigation, 'default');
$logo: get($component-logo, 'default');

$background-color: get($black, 'light');
$background-opacity: 0.5;
$color: get($white, 'default');
$bleed: get($grid, 'default');
$gap: get($grid, 'gutter');
$space: get($grid, 'space');
$max-width: get($grid, 'default') * 10;
$underlay-background-color: get($black, 'pure');

[data-routes='about'] {
  background-color: $background-color;
  color: $color;
  position: relative;

  [data-component=#{$logo}] h2,
  p {
    justify-self: center;
  }

  article {
    display: grid;
    grid-gap: $gap;
    grid-template-areas: '. . .' '. logo .' '. h2 .' '. content .' '. go-home .' '. . .';
    grid-template-columns: $gap auto $gap;
    grid-template-rows: min-content auto max-content max-content max-content max-content auto;
    max-width: 100%;
    min-height: 100vh;

    &.#{$css-transition} {
      &.#{$appear-active},
      &.#{$enter-active},
      &.#{$exit-active} {
        transition-duration: get($duration, 'normal');
      }

      &.#{$appear}:not(.#{$appear-active}),
      &.#{$enter}:not(.#{$enter-active}),
      &.#{$exit}.#{$exit-active},
      &.#{$exit-done} {
        opacity: 0;
        transform: translate3d(0, -$gap, 0);
      }
    }
  }

  h2 {
    font-size: get($font, 'font-size.medium');
    grid-area: h2;
    justify-self: center;
    text-transform: uppercase;
  }

  p {
    grid-area: content;
    max-width: $max-width;
    text-align: center;
    white-space: pre-line;
  }

  article > [data-component=#{$navigation}] {
    grid-area: go-home;
    justify-self: center;
  }

  [data-component=#{$logo}] {
    align-self: end;
    grid-area: logo;
    justify-self: center;
  }
}
