$css-transition: get($component-css-transition, 'default');
$appear: get($component-css-transition, 'appear.default');
$appear-active: get($component-css-transition, 'appear.active');
$enter: get($component-css-transition, 'enter.default');
$enter-active: get($component-css-transition, 'enter.active');
$exit: get($component-css-transition, 'exit.default');
$exit-active: get($component-css-transition, 'exit.active');
$exit-done: get($component-css-transition, 'exit.active');

$transition-duration: get($duration, 'fast');
$transition-delay: get($duration, 'fastest');
$transition-delay-alternative-component: get($duration, 'faster');

$close-button: get($component-close-button, 'default');
$navigation: get($component-navigation, 'default');
$logo: get($component-logo, 'default');
$spinner: get($component-spinner, 'default');

$background-color: get($black, 'light');
$background-opacity: 0.5;
$color: get($white, 'default');
$bleed: get($grid, 'default');
$gap: get($grid, 'gutter');
$space: get($grid, 'space');
$max-width: get($grid, 'default') * 10;
$underlay-background-color: get($black, 'pure');
$grid-template-areas: 'close-button close-button . .' '. . . .' '. logo logo .' '. h2 h2 .' '. content content .' '. go-home go-home .' '. . . .' '. . . .';
$grid-template-rows: min-content auto max-content max-content max-content max-content auto $bleed;

[data-routes='about'] {
  background-color: $background-color;
  color: $color;
  position: relative;

  [data-component=#{$logo}],
  h2,
  p {
    justify-self: center;
  }

  article {
    display: grid;
    grid-gap: $gap;
    grid-template-areas: $grid-template-areas;
    grid-template-columns: $gap auto auto $gap;
    grid-template-rows: $grid-template-rows;
    max-width: 100%;
    min-height: 100vh;

    &.#{$css-transition} {
      &.#{$appear-active},
      &.#{$enter-active},
      &.#{$exit-active} {
        transition-duration: get($duration, 'normal');
      }

      &.#{$appear}:not(.#{$appear-active}),
      &.#{$enter}:not(.#{$enter-active}),
      &.#{$exit}.#{$exit-active},
      &.#{$exit-done} {
        opacity: 0;
        transform: translate3d(0, -$gap, 0);
      }
    }
  }

  h2 {
    grid-area: h2;
    justify-self: center;
  }

  p {
    grid-area: content;
    max-width: $max-width;
    text-align: center;
  }

  [data-component=#{$close-button}] {
    grid-area: close-button;
    justify-self: start;
  }

  article > [data-component=#{$navigation}] {
    grid-area: go-home;
    justify-self: center;
  }

  [data-component=#{$logo}] {
    grid-area: logo;
  }

  [data-component=#{$spinner}] {
    color: $color;
  }

  body:not([data-exited-routes]) & {
    [data-component=#{$close-button}] {
      opacity: 0;
      pointer-events: none;
    }
  }

  @include tablet() {
    article {
      grid-template-areas: $grid-template-areas;
      grid-template-columns: $space auto auto $space;
      grid-template-rows: $grid-template-rows;
    }
  }
}
