@import '_import';

.navigation {
	@include display(flex);
	@include align-items(center);

	ul {
		@include display(flex);
	}

	li {
		+ li {
			margin-left: rem($gutter);
		}
	}

	a {
		font-weight: $thicker_font_weight;
		text-transform: uppercase;
	}
}