@import '_import';

.navigation {
	@include display(flex);
	@include align-items(stretch);
	@include justify-content(stretch);

	ul {
		@include display(flex);
		@include align-items(stretch);
		@include justify-content(stretch);

		width: 100%;
	}

	li {
		border: 1px solid transparent;
		box-sizing: border-box;
	}

	a {
		padding: $gutter 0;
		text-align: center;
	}
}