@import '_import';

.navigation {
	@include display(flex);
	@include align-items(stretch);

	text-transform: capitalize;

	ul {
		@include display(flex);
	}

	li {
		@include set-transition(border-color, border-width);

		@include display(flex);
		@include align-items(stretch);
		@include flex-grow(1);
		
		+ li {
			border-left: 1px solid $black;
		}
	}

	a {
		@include display(flex);
		@include align-items(center);
		
		font-weight: 600;
		padding: $space $gutter;
		text-align: center;
	}
}