$cssTransition: get($css-transition, 'default');
$style: get($css-transition-style, 'slide-right');
$appear: get($css-transition, 'appear.default');
$appear-active: get($css-transition, 'appear.active');
$enter: get($css-transition, 'enter.default');
$enter-active: get($css-transition, 'enter.active');
$exit: get($css-transition, 'exit.default');
$exit-active: get($css-transition, 'exit.active');
$exit-done: get($css-transition, 'exit.done');

.#{$cssTransition}.#{$style} {
  transition-property: opacity, transform;
  will-change: opacity, transform;

  &.#{$appear}:not(.#{$appear-active}),
  &.#{$enter}:not(.#{$enter-active}),
  &.#{$exit}.#{$exit-active},
  &.#{$exit-done} {
    opacity: 0;
  }

  &.#{$appear}:not(.#{$appear-active}),
  &.#{$enter}:not(.#{$enter-active}) {
    transform: translate3d(100%, 0, 0);
  }

  &.#{$exit}.#{$exit-active},
  &.#{$exit-done} {
    transform: translate3d(-100%, 0, 0);
  }
}
