@mixin set-navigation-inline() {
  $default: get($component-navigation, 'default');

  [data-component="#{$default}"] {
    @include set-navigation-inline-content();
  }
}

@mixin set-navigation-inline-content() {
  grid-auto-flow: column;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
}
