$default: get($component-navigation, 'default');
$inline: get($component-navigation, 'inline');

$gap: get($grid, 'gutter');

[data-component="{$default}"] {
  display: grid;
  grid-gap: $gap;
  grid-template-columns: auto;
  grid-template-rows: auto;
  text-align: center;

  > * {
    align-self: center;
    justify-self: center;
  }

  &.#{$inline} {
    @include set-navigation-inline-content();
  }
}
