@import '_import';

$size: 2rem;

@import '_import';

.menuButton {
	color: transparent;
	cursor: pointer;
	font-size: $size;
	height: $size;
	overflow: hidden;
	width: $size;

	span {
		@include hidden();
	}

	path {
		@include transition(fill, opacity, transform);
		@include transition-duration($fast);
		@include transform-style(preserve-3d);
		@include transform-origin(50% 50% 0);

		fill: $black;
	}

	.cross {
		@include opacity(0);

		&.left {
			@include transform(rotate(-45deg));
		}

		&.right {
			@include transform(rotate(45deg));
		}
	}

	&.isExpanded {
		.line {
			@include transform(scale3d(0, 1, 1));
			@include opacity(0);
		}

		.cross {
			@include transform(rotate(0deg));
			@include opacity(1);
		}
	}
}
