.navigation {
  [data-routes^=home] & {
    align-self: start;
    grid-gap: $space;

    align-items: start;
    justify-content: start;

    a {
      height: $logo-size;
    }

    @include mobile () {
      grid-auto-flow: row;
      grid-gap: $gutter;

      a {
        text-align: unset;
      }
    }
  }
}