$cssTransition: "css-transition";

$cssTransitionAppear: "#{$cssTransition}-appear";
$cssTransitionAppearActive: "#{$cssTransitionAppear}-active";
$cssTransitionAppearDone: "#{$cssTransitionAppear}-done";

$cssTransitionEnter: "#{$cssTransition}-enter";
$cssTransitionEnterActive: "#{$cssTransitionEnter}-active";
$cssTransitionEnterDone: "#{$cssTransitionEnter}-done";

$cssTransitionExit: "#{$cssTransition}-exit";
$cssTransitionExitActive: "#{$cssTransitionExit}-active";
$cssTransitionExitDone: "#{$cssTransitionExit}-done";

$cssTransitionStylePrefix: "#{$cssTransition}-style-";
