$cssTransition: 'css-transition';

$cssTransitionEnter: '#{$cssTransition}-enter';
$cssTransitionEnterActive: '#{$cssTransitionEnter}-active';
$cssTransitionEnterDone: '#{$cssTransitionEnter}-done';

$cssTransitionExit: '#{$cssTransition}-exit';
$cssTransitionExitActive: '#{$cssTransitionExit}-active';
$cssTransitionExitDone: '#{$cssTransitionExit}-done';

$cssTransitionStylePrefix: '#{$cssTransition}-style-';