$style: "fade";

.#{$cssTransitionStylePrefix}#{$style} {
  &.#{$cssTransition} {
    &[class*="#{$cssTransition}-"][class*="-active"] {
      transition-property: opacity;
    }

    &-enter:not(.#{$cssTransitionEnterActive}),
    &-exit-active {
      opacity: 0;
    }
  }
}

:export {
  style: #{$style};
}
