$style: "slide";

.#{$cssTransitionStylePrefix}#{$style} {
  &.#{$cssTransition} {
    &[class*="#{$cssTransition}-"][class*="-active"] {
      transition-property: transform;
    }

    &-exit {
      overflow: hidden;
    }
  }
}

:export {
  style: #{$style};
}
