.#{$cssTransition} {
  &[class*='#{$cssTransition}-'][class*='-active'] {
    transition-duration: $speed;
    transition-property: none;
    transition-timing-function: $easeIn;
  }
}

:export {
  className: #{$cssTransition};
  enterDoneClassName: #{$cssTransitionEnterDone};
  exitDoneClassName: #{$cssTransitionExitDone};
  stylePrefix: #{$cssTransitioStylePrefix};
}
