$className: 'css-transition';

$enterClassName: '#{$className}-enter';
$enterDoneClassName: '#{$enterClassName}-done';

$exitClassName: '#{$className}-exit';
$exitDoneClassName: '#{$exitClassName}-done';

.#{$className} {
  &[class*='#{$className}-'][class*='-active'] {
    transition-duration: $speed;
    transition-property: opacity;
    transition-timing-function: $easeIn;
  }

  &-enter:not(.#{$className}-enter-active),
  &-exit-active {
    opacity: 0;
  }
}

:export {
  className: #{$className};
  enterDoneClassName: #{$enterDoneClassName};
  exitDoneClassName: #{$exitDoneClassName};
}
