@import '_import';

[data-route] {
	main {
		@include set-transition(display);

		height: 100%;
		z-index: 1;
		
		&.ng-enter {
			z-index: 2;

			&.ng-enter-active {
				@include largemobile () {
					@include opacity(1);
				}
			}
		}

		&.ng-leave {
			&.ng-leave-active {
				@include largemobile () {
					@include opacity(1);
				}
			}
		}
	}
}