@import '_import';

main {
	> h1 {
		@include set-transition(opacity);
		
		@include set-font-size(1.325);

		margin: $space $gutter;
		text-align: center;

		will-change: opacity;

		@include mobile() {
			@include opacity(0);

			text-align: right;
		}

		@include tablet() {
			text-align: right;
		}
	}
}