$default: get($component-logo, 'default');
$square: get($component-logo, 'square');

@mixin set-logo-size($size) {
  [data-component='#{$default}'] {
    font-size: $size;
    height: $size;
    width: $size * 2.4;

    &.#{$square} {
      width: $size;
    }

    @include mobile() {
      width: $size;
    }
  }
}
