@mixin set-logo-style($size, $color: null) {
  $default: get($component-logo, 'default');
  $square: get($component-logo, 'square');

  [data-component="#{$default}"] {
    font-size: $size;
    height: $size;
    width: $size * 2.4;

    @include mobile() {
      width: $size;
    }

    &.#{$square} {
      width: $size;
    }

    @if $color {
      color: $color;
    }
  }
}
