$default: get($component-logo, 'default');
$square: get($component-logo, 'square');

$content: get($kicl, 'content.default');
$name: get($kicl, 'name');
$size: get($grid, 'gutter');
$transition-duration: get($duration, 'fast');

@include set-logo-style($size);

[data-component='#{$default}'] {
  overflow: hidden;
  position: relative;

  &::before {
    content: $content;
    display: block;
    font-family: $name;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    font-weight: unset;
    left: 0;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    text-indent: 0;
    top: 0;
    transition-duration: $transition-duration;
    transition-property: color;
    will-change: color;
    z-index: 1;
  }

  a {
    color: transparent;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}
