@import '_import';

[data-name=contact] {
	.globalHeader {
		&.isScrolled {
			background: rgba($black, .9);
		}

		nav {
			a {
				color: $white;
			}
			
			.isCurrent {
				a {
					color: $orange;
				}
			}

			@include mobile () {
				background-color: $black;
			}
		}
	}

	.logo {
		a {
			color: $white;
		}
	}

	.hamburgerButton {
		line {
			stroke: $white;
		}
	}
}

main {
	&[data-route=contact] {
		@include display(flex);
		@include align-items(center);
		@include flex-direction(column);

		background-attachment: fixed;

		.overground {
			@include backdrop-filter(blur(5px));
			
			background-color: rgba($black, .8);
			background-image: url('#{$image_path}pattern/half.tone.png');
			background-position: center;
			background-repeat: repeat;
			height: 100%;
			left: 0%;
			position: absolute;
			top: 0%;
			width: 100%;
			z-index: 0;
		}

		p,
		label,
		legend {
			color: $white;
		}

		h1,
		.message {
			margin: 0 auto;
			max-width: grid-size($largemobile-size);
			padding: rem($gutter);
			text-align: center;
		}

		form {
			max-width: grid-size($tablet-size);
			width: 100%;
		}

		h1,
		.message,
		form {
			position: relative;
			z-index: 1;

			@include largemobile () {
				width: 80%;
			}

			@include smallmobile () {
				width: 100%;
			}
		}

		h1 {
			@include set-font-size(2);

			color: $white;
			line-height: 1;
		}

		&.ng-animate {
			.message,
			form {
				@include set-transition(opacity, transform);
			}
		}

		&.ng-enter {
			.message,
			form {
				@include transition-delay($fast);
				@include transform(scale(1.2));
				@include opacity(0);
			}

			&.ng-enter-active {
				.message,
				form {
					@include transform(scale(1));
					@include opacity(1);
				}
			}
		}
	}
}

