@import '_import';

[data-api="behance.projects"] {
	@include display(flex);
	@include flex-direction(column);
	@include align-items(center);
	@include justify-content(center);
	@include flex-wrap(wrap);

	li,
	figcaption {
		@include circle(grid-size(3));

		@include mobile () {
			@include circle(grid-size(2));
		}
	}

	li {
		@include set-transition(height, margin-left, margin-top, min-height, min-width, width);

		@include display(flex);
		@include box-shadow($shadow-center);

		margin-left: -1 * 30%;
		text-align: center;

		@include largemobile () {
			margin-left: -1 * 40%;
		}

		@include mobile () {
			margin-left: 0;
		}

		&:nth-child(even) {
			margin-left: 30%;

			@include largemobile () {
				margin-left: 40%;
			}

			@include mobile () {
				margin-left: 0;
			}
		}

		+ li {
			margin-top: rem(-1 * $gutter * 4);

			@include mobile () {
				margin-top: rem($gutter);
			}
		}

		&.isCurrent,
		&:hover {
			a {
				@include transform(scale3d(1.2, 1.2, 1.2));
			}

			figcaption {
				@include opacity(1);

				p {
					@include transform(translate3d(0, 0, 0) scale3d(1, 1, 1));
				}
			}
		}
	}

	figure {
		height: 100%;
		position: relative;
		width: 100%;
	}

	figcaption {
		@include set-transition(height, min-height, min-width, opacity, width);

		@include display(flex);
		@include flex-direction(column);
		@include align-items(center);
		@include justify-content(center);

		@include opacity(0);

		@include through();

		background-color: rgba(red($black), green($black), blue($black), .9);
		color: $white;
		height: 100%;
		padding: rem($space);
		position: absolute;
		top: 0;
		width: 100%;
	}

	a {
		@include set-transition(transform);
		
		background-size: cover;

		height: 100%;
		width: 100%;

		&:hover {
			@include transform(scale3d(1.2, 1.2, 1.2));

			+ figcaption {
				@include opacity(1);

				p {
					@include transform(translate3d(0, 0, 0) scale3d(1, 1, 1));
				}
			}
		}
	}

	img {
		@include opacity(0);

		height: 100%;
		width: 100%;
	}

	p {
		@include set-transition(transform);

		@include transform(translate3d(0, rem($gutter), 0) scale3d(.6, .6, .6));

		+ p {
			@include transform(translate3d(0, rem(-1 * $space), 0) scale3d(.6, .6, .6));

			margin-top: rem($space);
		}
	}

	.title {
		font-weight: $thicker_font_weight;

		@include mobile () {
			@include truncate();

			font-weight: $font_weight;
		}
	}

	.published_on {
		@include pill();

		color: $dark-grey;

		@include mobile () {
			@include hidden();
		}
	}
}