@import 'reset';
@import 'import';
@import './Component/Style';
@import './View/Style';

html {
  background-color: $dark_white;
  color: $darkest_grey;
}

body {
  @include display-flex();
  @include flex-direction(column);
}

main {
  @include flex-grow(1);
}

.isInitialLoad {
  .GlobalHeader,
  .GlobalFooter {
    transition-duration: 0s;
  }
}
