@import 'reset';
@import 'import';
@import './Component/Style';
@import './View/Style';

html {
  background-color: $dark_white;
  color: $darkest_grey;
}

body {
  @include display-flex();
  @include flex-direction(column);
  @include transition-property(opacity);
  @include transition-duration($fast);
  @include transition-timing-function($easing);

  will-change: opacity;
}

main {
  @include flex-grow(1);
}

// To prevent font flickering before Typekits are completely rendered
:not(.wf-active) body,
// To prevent unwanted element show up in dom when isInitialLoad (class inject and remove on JS)
.isInitialLoad {
  @include opacity(0);
}
