@import "Core/Reset";
@import "Core/Core";

[app-root] {
  position: relative;
}

header[rule="banner"] {
  position: fixed;
  z-index: 10;
  top: 0;
  min-width: 100vw;
}

main {
  z-index: 1;
  min-width: 100vw;
  min-height: 100vh;
}
