@import 'Core/Lib';
@import 'Core/Reset';
@import 'Core/Core';

body {
  transition-delay: $fast;
  transition-duration: $slow;
  transition-timing-function: $easeInExpo;
  transition-property: opacity;

  opacity: 1;
}

[app-root] {
  position: relative;
}

header[rule='banner'] {
  min-width: 100vw;
  position: fixed;
  top: 0;
  z-index: 2;
}

main {
  min-height: 100vh;
  min-width: 100vw;
  z-index: 1;
}

[class*='css-transition-'] {
  transition-duration: $speed;
}