@mixin opacity($opacity: 1) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin through () {
	pointer-events: none;
}

@mixin circle ($size: 100%) {
	@include transform(translateZ(0));

	border-radius: 50%;
	height: $size;
	min-height: $size;
	min-width: $size;
	width: $size;
	overflow: hidden;
}

@mixin resize-circle ($size: 100%) {
	height: $size;
	min-height: $size;
	min-width: $size;
	width: $size;
}

@mixin clip-path ($anchor...) {
	-webkit-clip-path: polygon($anchor);
	clip-path: polygon($anchor);
}

@mixin hidden () {
	@include clip-path(0 0, 0 0, 0 0, 0 0);

	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

@mixin unhide () {
	@include clip-path(0 0, 100% 0, 100% 100%, 0% 100%);

	height: inherit;
	left: inherit;
	overflow: inherit;
	position: inherit;
	top: inherit;
	width: inherit;
}

@mixin inline-block () {
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
}

@mixin multiline-truncate($line: 2) {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: $line;
	-webkit-box-orient: vertical;
}

@mixin truncate ($width: 100%) {
	width: $width;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin content ($content: '\0020') {
	content: $content;
}

@mixin set-logo-size ($rate: 1.825) {
	a {
		@include set-font-size($rate);
	}
}

@mixin set-logo-content ($isSquare: false) {
	$logo-kicl-square: "\e600";
	$logo-kicl: "\e601";

	a {
		&:before {
			@if $isSquare {
				content: $logo-kicl-square;
			} @else {
				content: $logo-kicl;
			}
		}
	}
}

@mixin pill ($background-color: $dark_white) {
	background-color: $background-color;
	border-radius: rem($space / 2);
	overflow: hidden;
	padding: rem($space / 2) rem($space);
	text-transform: capitalize;
}

@mixin pills ($background-color: $dark_white) {
	@include display(flex);
	@include flex-wrap(wrap);
	@include align-items(center);
	@include justify-content(center);

	> * {
		@include pill($background-color);

		margin: rem($space);
	}
}