@mixin opacity($opacity: 1) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin through () {
	pointer-events: none;
}

@mixin circle ($size: 100%) {
	border-radius: $size / 2;
	height: $size;
	min-height: $size;
	min-width: $size;
	width: $size;
	overflow: hidden;
}

@mixin clip-path ($anchor...) {
	-webkit-clip-path: polygon($anchor);
	clip-path: polygon($anchor);
}

@mixin hidden () {
	@include clip-path(0 0, 0 0, 0 0, 0 0);

	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

@mixin unhide  () {
	@include clip-path(0 0, 100% 0, 100% 100%, 0% 100%);

	height: inherit;
	left: inherit;
	overflow: inherit;
	position: inherit;
	top: inherit;
	width: inherit;
}

@mixin inline-block () {
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
}

@mixin multiline-truncate($line: 2) {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: $line;
	-webkit-box-orient: vertical;
}

@mixin truncate ($width: 100%) {
	width: $width;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin content ($content: '\0020') {
	content: $content;
}

@mixin set-logo-size ($rate: 1.325) {
	a {
		@include set-font-size($rate);
	}
}

@mixin set-logo-content ($isSquare: false) {
	$logo-kicl-square: "\e600";
	$logo-kicl: "\e601";

	a {
		&:before {
			@if $isSquare {
				content: $logo-kicl-square;
			} @else {
				content: $logo-kicl;
			}
		}
	}
}

@mixin pill () {
	@include set-font-size(.9);
	@include circle(.5rem);

	border: 1px solid $grey;
	font-weight: $heading_font_weight;
	height: auto;
	margin: $space / 2;
	padding: $space $gutter;
	text-transform: capitalize;
	width: auto;
}