@import '_import';

h1, h2, h3, h4, h5, label, legend {
	font-weight: $heading_font_weight;
}

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
}

html {
	@include set-font-size(1);
	@include font-smoothing();

	color: $black;
	font-family: $font_family;
	font-weight: $font_weight;
}

label {
	&.forRadio {
		font-weight: $font_weight;
	}
}

h1 { @include set-h-font-size(1.2, $gutter); }
h2 { @include set-h-font-size(.8, $gutter); }
h3 { @include set-h-font-size(.6, $gutter); }
h4 { @include set-h-font-size(.4, $gutter); }
h5 { @include set-h-font-size(.2, $gutter); }

a {
	@include display(block);
	@include set-transition(color);
	
	color: $green;

	&:hover {
		color: $orange;
	}

	&.isCurrent  {
		@include through();

		color: $black;
		font-weight: $a_isCurrent_font_weight;
	}
}

.isCurrent  {
	a {
		@include through();
		
		color: $black;
		font-weight: $a_isCurrent_font_weight;
	}
}

p {
	+ p {
		margin-top: $space;
	}
}
