@import '_import';

[data-api='behance.project.slideshow'] {
	$image_padding_top: 71.11%;

	$pagination_button_font_size: 1.6rem;
	$pagination_button_size: $pagination_button_font_size * 1.1;
	$pagination_button_icon_height: $pagination_button_font_size + .2rem;

	@include transition-timing-function($ease-in-expo);

	@include backdrop-filter(blur(5px));

	@include display(flex);
	@include flex-direction(column);
	@include align-items(center);
	@include justify-content(center);

	height: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 9999;
	width: 100%;

	h1 {
		@include truncate();

		margin-bottom: rem($gutter);
		margin-top: rem($gutter);
		text-align: center;
	}

	.wrapper {
		@include set-transition(max-width, transform);

		@include display(flex);
		@include flex-direction(column);
		@include align-items(center);
		@include justify-content(center);

		@include box-shadow($shadow-center);

		@include order(1);

		background-color: $white;
		min-width: grid-size(7);
		max-width: grid-size(8);
		padding: rem($gutter);
		position: relative;
		z-index: 2;

		@include largemobile () {
			min-width: 80%;
		}

		@include mobile () {
			@include box-shadow(none);

			background-color: transparent;
			min-width: 0%;
			max-width: grid-size(5);
			padding: 0;
			width: 80%;
		}
	}

	ul {
		@include through();

		@include order(1);

		max-width: grid-size($tablet-size);
		position: relative;
		width: 100%;
		z-index: 2;

		@include mobile () {
			@include order(2);
		}

		&:before {
			content: '\0020';
			display: block;
			height: 0;
			padding-top: $image_padding_top;
			width: 100%;
		}
	}

	.pagination {
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);

		@include order(2);
		
		margin-bottom: rem($gutter);
		margin-top: rem($gutter);
		z-index: 3;

		@include mobile () {
			@include transform(scale(.8));
		}

		@include mobile () {
			@include order(3);
		}

		button {
			@include set-transition(transform);
			@include transition-duration($faster);
			@include transition-timing-function(ease-out-bounce);

			@include transform(scale(.8));

			color: transparent;
			font-size: $pagination_button_font_size;
			height: $pagination_button_icon_height;
			overflow: hidden;
			position: relative;
			width: $pagination_button_icon_height;

			i {
				@include set-transition(color);
				@include transition-duration(faster);

				@include display(flex);
				@include align-items(center);
				@include justify-content(center);

				@include transform(translate3d(-50%, -50%, 0));

				color: $green;
				left: 50%;
				position: absolute;
				text-indent: 0;
				top: 50%;

				&:before {
					@include set-transition(height, width);

					height: $pagination_button_icon_height;
					width: $pagination_button_font_size;
				}
			}

			&:hover,
			&.isCurrent {
				@include transform(scale(1));
			}

			&.isCurrent {
				i {
					text-shadow: 0 0 2px $black;
				}
			}
		}
	}

	li {
		@include set-transition(opacity);

		@include opacity(0);
		
		padding-top: $image_padding_top;
		left: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;

		&.isCurrent {
			@include opacity(1);

			z-index: 2;

			opacity: 1;
		}
	}

	img {
		@include transform(translate3d(-50%, -50%, 0));

		left: 50%;
		position: absolute;
		top: 50%;
		width: 102%;
	}

	button {
		color: transparent;
	}

	.close {
		@include backdrop-filter(blur(5px));

		background-color: rgba($black, .8);
		background-image: url('#{$image_path}pattern/half.tone.png');
		background-position: center;
		background-repeat: repeat;
		cursor: -webkit-zoom-out;
		left: 0;
		height: 100%;
		position: absolute;
		top: 0;
		outline: none;
		width: 100%;
		z-index: 1;

		@include mobile () {
			background-color: $white;
		}

		span {
			@include opacity(0);
		}
	}

	svg {
		@include set-transition(opacity);

		cursor: pointer;
		height: 64px;
		right: 0;
		position: absolute;
		top: 0;
		width: 64px;

		@include mobile () {
			left: 0;
			right: auto;
		}
	}

	line {
		@include set-transition(stroke);

		stroke: $white;

		@include mobile () {
			stroke: $black;
		}
	}

	&.ng-hide-animate {
		@include set-transition(backdrop-filter, opacity);

		clip-rule: nonzero;
		overflow: hidden;

		.wrapper {
			@include set-transition(opacity, transform);
			@include transition-timing-function($ease-out-back);
		}
	}

	&.ng-hide-add {
		@include transition-delay($fast);
		
		@include opacity(1);

		.wrapper {
			@include transition-duration($fast);
			
			@include transform(scale3d(1, 1, 1));

			@include opacity(1);

			@include mobile () {
				@include transform(scale3d(1, 1, 1));
			}
		}

		svg {
			@include opacity(1);
		}

		&.ng-hide-add-active {
			@include opacity(0);

			.wrapper {
				@include transform(scale3d(1.1, 1.1, 1.1));

				@include opacity(0);

				@include mobile () {
					@include transform(scale3d(1.1, 1.1, 1.1));
				}
			}

			svg {
				@include opacity(0);
			}
		}
	}

	&.ng-hide-remove {
		@include opacity(0);

		.wrapper {
			@include transition-delay($fast);

			@include transform(scale3d(1.2, 1.2, 1.2));

			@include opacity(0);
				
			@include mobile () {
				@include transform(scale3d(1.1, 1.1, 1.1));
			}
		}

		svg {
			@include opacity(0);
		}

		&.ng-hide-remove-active {
			@include opacity(1);

			.wrapper {
				@include transform(scale3d(1, 1, 1));

				@include opacity(1);
				
				@include mobile () {
					@include transform(scale3d(1, 1, 1));
				}
			}

			svg {
				@include opacity(1);
			}
		}
	}
}