$spinner: (
  background: (
    default: $black,
    active: $white
  ),
  color: (
    default: $dark_grey,
    light: $grey,
    active: $green
  ),
  size: 4rem,
  fontSize: 1rem,
  z-index: 1000
);
