.css-transition-element {
  transition-duration: $fast;
  transition-timing-function: $easeOutCubic;

  [data-routes^='home'] > & {
    transition-property: opacity, transform;
  }

  [data-routes^='home']:not(.css-transition-exit) > & {
    &.logo {
      transition-delay: $fast;
    }

    &.profession {
      transition-delay: $faster;
    }

    &.description {
      transition-delay: $fastest;
    }
  }

  [data-routes^='home'].css-transition-enter-active > & {
    transition-delay: 0s;
    transition-duration: 0s;
  }

  [data-routes^='home'].css-transition-enter > &,
  [data-routes^='home'].css-transition-exit > & {
    opacity: 0;
  }

  [data-routes^='home'].css-transition-enter-active > &,
  [data-routes^='home'].css-transition-exit > & {
    transform: translate3d(0, -10vh, 0);
  }

  [data-routes^='home'].css-transition-exit > & {
    transform: translate3d(0, -30vh, 0);
  }
}
