$default: get($component-spinner, 'default');
$with-overlay: get($component-spinner, 'withoverlay');

[data-component=#{$default}] {
  $background-color: get($black, 'light');
  $background-opacity: 0.5;
  $color: get($white, 'default');
  $speed: get($duration, 'slowest');
  $size: get($grid, 'gutter');

  animation-duration: $speed;
  animation-iteration-count: infinite;
  animation-name: #{$default};
  animation-timing-function: linear;
  color: $color;
  fill: currentColor;
  height: $size;
  left: 50%;
  position: absolute;
  stroke: $color;
  stroke-width: 1px;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: $size;
  z-index: 10000;

  circle {
    animation-duration: $speed;
    animation-iteration-count: infinite;
    animation-name: #{$default}-circle;
    animation-timing-function: ease-in-out;
    transform-origin: 70% 30%;

    + circle {
      animation-delay: -$speed/2;
      transform-origin: 70% 70%;
    }
  }

  text {
    opacity: 0;
  }

  &.#{with-overlay} {
    &::before {
      background-color: rgba($background-color, $background-opacity);
      content: '\0020';
      display: block;
      height: 100%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 100%;
    }
  }
}

@keyframes #{$default} {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes #{$default}-circle {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}
