$default: get($component-input, 'default');

$css-transition: get($component-css-transition, 'default');
$appear: get($component-css-transition, 'appear.default');
$appear-active: get($component-css-transition, 'appear.active');
$enter: get($component-css-transition, 'enter.default');
$enter-active: get($component-css-transition, 'enter.active');
$exit: get($component-css-transition, 'exit.default');
$exit-active: get($component-css-transition, 'exit.active');
$exit-done: get($component-css-transition, 'exit.active');

[data-component=#{$default}] {
  border-bottom: 1px solid get($white, 'default');
  font-size: get($font, 'font-size.medium');
  font-weight: get($font, 'font-weight.bolder');

  @include mobile() {
    font-size: unset;
  }

  input {
    padding: get($grid, 'narrow');
    width: 100%;
  }

  label {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content auto;

    @include mobile() {
      grid-template-columns: auto;
      grid-template-rows: auto;
    }
  }

  span {
    color: get($grey, 'dark');
    font-size: get($font, 'font-size.small');

    @include mobile() {
      height: 0;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      width: 0;
    }
  }

  &.#{$css-transition} {
    transition-duration: get($duration, 'slowest');
  }
}
