@function tint($color, $percentage) {
  @return mix(#ffffff, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(#000000, $color, $percentage);
}

$black: #141414;
$grey: #bcbcbc;
$white: #f1efe9;
