$speed: 1000ms;

$duration: (
  normal: $speed,
  fast: $speed * 0.8,
  faster: $speed * 0.6,
  fastest: $speed * 0.2,
  slow: $speed * 1.2,
  slower: $speed * 1.6,
  slowest: $speed * 1.8,
  extreme: $speed * 8,
);
