:root {
  --kicl-gutter-narrowest: 0.3rem;
  --kicl-gutter-narrower: 0.5rem;
  --kicl-gutter-narrow: 1rem;
  --kicl-gutter: #{$gutter};
  --kicl-gutter-wide: 4rem;
  --kicl-gutter-wider: 4.8rem;
  --kicl-gutter-widest: 5rem;
}
