html {
  @include font-smoothing();

  background-color: get($black, 'default');
  color: get($black, 'default');
  font-family: get($font, 'font-family.normal');
  font-size: get($font, 'font-size.normal');
  font-weight: get($font, 'font-weight.normal');
  letter-spacing: get($font, 'letter-spacing');
  line-height: get($font, 'line-height.default');
}

button {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  transition-duration: get($duration, 'faster');
  transition-property: background-color;
  transition-timing-function: get($ease, 'circ.out');

  /* autoprefixer: ignore next */
  &[type] {
    &:disabled {
      background-color: get($white, 'darkest');
      cursor: not-allowed;
    }
  }
}

a,
button,
[href] {
  color: $green;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: get($white, 'darker');
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: get($font, 'font-family.special');
  line-height: get($font, 'line-height.wide');
}

[app-root] {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}

[aria-hidden='true'] {
  visibility: hidden;
}

* {
  transition-timing-function: get($ease, 'quad.in');
}

body {
  transition-duration: get($duration, 'slow');
  transition-property: background-color;
}

h1 {
  font-size: get($font, 'font-size.medium');
}

main {
  min-height: 100vh;
  min-width: 100vw;
  z-index: 1;
}

body > header {
  min-width: 100vw;
  top: 0;
  z-index: 10;
}
