* {
  @include font-smoothing();

  background-color: var(--kicl-color-black);
  color: var(--kicl-color-white);
  font-family: var(--kicl-font-family);
  font-size: var(--kicl-font-size);
  font-weight: var(--kicl-font-weight);
  letter-spacing: var(--kicl-letter-spacing);
  line-height: var(--kicl-line-height);
}

button {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  transition-duration: var(--kicl-duration-faster);
  transition-property: background-color;
  transition-timing-function: var(--kicl-ease-circ-out);

  &[type] {
    &:disabled {
      background-color: var(--kicl-white-darkest);
      cursor: not-allowed;
    }
  }
}

a,
button,
[href] {
  color: var(--kicl-color-green);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: var(--kicl-white--darker);
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--kicl-font-family-special);
  line-height: var(--kicl-line-height-wide);
}

[app-root] {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}

[aria-hidden='true'] {
  visibility: hidden;
}

body {
  transition-duration: var(--kicl-duration-slow);
  transition-property: background-color;
  transition-timing-function: var(--kicl-ease-quad-in);
}

h1 {
  font-size: var(--kicl-font-size-medium);
}

main {
  min-height: 100vh;
  min-width: 100vw;
  z-index: 1;
}

body > header {
  min-width: 100vw;
  top: 0;
  z-index: 10;
}
