.#{get($component-transition, 'default')}.#{get($component-transition, 'slide-up')} {
  $stand-alone: get($component-css-transition, 'stand-alone');
  $slide-up: get($component-css-transition-slide-up, 'default');

  $appear: get($component-css-transition, 'appear.default');
  $appear-active: get($component-css-transition, 'appear.active');
  $enter: get($component-css-transition, 'enter.default');
  $enter-active: get($component-css-transition, 'enter.active');
  $exit: get($component-css-transition, 'exit.default');
  $exit-active: get($component-css-transition, 'exit.active');

  $transition-delay: get($duration, 'faster');

  > :not(.#{$stand-alone}) {
    &.#{$slide-up} {
      &::before {
        transform: translate3d(0, -100%, 0);
      }
    }

    &:not(.#{$slide-up}) {
      transform: translateY(0);

      &.#{$exit}.#{$exit-active} {
        transform: translate3d(0, -20%, 0);
      }
    }
  }
}
