.#{get($component-transition, "default")} {
  $stand-alone: get($component-css-transition, 'standalone');
  $slide-up: get($component-css-transition-slide-up, 'default');

  $appear: get($component-css-transition, 'appear.default');
  $appear-active: get($component-css-transition, 'appear.active');
  $enter: get($component-css-transition, 'enter.default');
  $enter-active: get($component-css-transition, 'enter.active');
  $exit: get($component-css-transition, 'exit.default');
  $exit-active: get($component-css-transition, 'exit.active');

  $transition-delay: get($duration, 'faster');

  .#{get($component-transition, "slide-up")} {
    > :not(.#{$stand-alone}) {
      &.#{$slide-up} {
        &::before {
          transform: translate3d(0, -100%, 0);
        }
      }
    }
  }

  > :not(.#{$stand-alone}) {
    &.#{$slide-up} {
      &::before {
        transform: translate3d(0, -100%, 0);
      }
    }
  }
}
