.#{get($component-transition, 'default')} {
  $css-transition: get($component-css-transition, 'default');
  $css-transition-stand-alone: get($component-css-transition, 'stand-alone');

  $enter: get($component-css-transition, 'enter.default');
  $exit: get($component-css-transition, 'exit.default');

  position: relative;

  > :not(.#{$css-transition-stand-alone}) {
    &.#{$css-transition} {
      position: absolute;
    }

    &.#{$enter} {
      z-index: 200;
    }

    &.#{$exit} {
      z-index: 100;
    }
  }
}
