$pure_white: #fff;
$white: #f6f6f6;
$darkest_white: shade($white, 10);
$darker_white: shade($white, 6);
$dark_white: shade($white, 3);

$black: #141414;
$light_black: tint($black, 3);
$pitch_black: #000;

$grey: #B7C4CC;
$light_grey: tint($grey, 15);
$darker_grey: #3f3f3f;
$darkest_grey: shade($darker_grey, 30);
$dark_grey: tint($darker_grey, 20);

$green: #2FA390;
$blue: #2E2E5F;
$orange: #F33627;
$red: #C9191E;
$yellow: #ffff00;

$linkedin: #0077B5;
$twitter: #1DCAFF;
$googlePlus: #D34836;
$behance: #053EFF;
$gitHub: #4183c4;

$gold: #B0976D;