$font_family: proxima-nova, sans-serif;
$heading_font_family: "fatfrank",sans-serif;
$font_size: 16;

$font_weight: 300;
$a_isCurrent_font_weight: 400;
$thick_font_weight: 500;
$thicker_font_weight: 700;

@mixin font-smoothing($value: antialiased) {
	@if $value == antialiased {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	@else {
		-webkit-font-smoothing: subpixel-antialiased;
		-moz-osx-font-smoothing: auto;
	}
}

@mixin set-font-size ($rate) {
	$size: rem($rate * $font_size);
	
	font-size: $size * $rate;
	letter-spacing: $size * .1;
	line-height: 1.5;

	@if $rate >= 1 {
		font-weight: $thick_font_weight;
	}
}

@mixin set-h-font-size ($rate, $bleed) {
	@include set-font-size($rate);
}