$min-grid: rem(40px);
$grid: $min-grid * 2;
$gutter: rem(16px);
$space: $gutter / 2;

$global-header-width: $min-grid + $gutter * 2;

$mobile-size: 4;
$largemobile-size: 6;
$tablet-size: 9;
$desktop-size: 12;
$largedesktop-size: 15;

@function grid-size ($size) {
	@return ($grid + $gutter) * $size - $gutter;
}

@function screen-size ($size) {
	@return ($grid + $gutter) * $size + $gutter;
};

@function query-size ($min: false, $max: false, $screen: false, $ratio: false, $orientation: false) {
	$size: ($grid + $gutter);
	$width : (min-width);

	@if $min {
		$min: screen-size($min);
	}

	@if $max {
		$max: screen-size($max);
	}

	@if $min and not $max {
		$width : (min-width $min);
	}

	@if $max and not $min {
		$width : (max-width $max);
	}

	@if $min and $max {
		$width : (width $min $max);
	}

	@if not $screen {
		$screen: all;
	}

	@if $ratio {
		$ratio: (min-resolution $ratio);
	}

	@if $orientation {
		$orientation: (orientation $orientation);
	}

	@if $orientation and $ratio {
		@return $screen $width, $ratio, $orientation;
	}

	@if $orientation and not $ratio {
		@return $screen $width, $orientation;
	}
	
	@if $ratio and not $orientation {
		@return $screen $width, $ratio;
	}

	@return $screen $width;
}

@mixin mobile () {
	@include breakpoint(query-size($max: $mobile-size)) {
		@content;
	}
}
@mixin mobile-landscape () {
	@include breakpoint(query-size($max: $mobile-size, $orientation: landscape)) {
		@content;
	}
}

@mixin largemobile () {
	@include breakpoint(query-size($min: $mobile-size, $max: $largemobile-size)) {
		@content;
	}
}
@mixin largemobile-landscape () {
	@include breakpoint(query-size($min: $mobile-size, $max: $largemobile-size, $orientation: landscape)) {
		@content;
	}
}

@mixin tablet () {
	@include breakpoint(query-size($min: $largemobile-size, $max: $tablet-size)) {
		@content;
	}
}
@mixin tablet-landscape () {
	@include breakpoint(query-size($min: $largemobile-size, $max: $tablet-size, $orientation: landscape)) {
		@content;
	}
}

@mixin desktop () {
	@include breakpoint(query-size($min: $tablet-size, $max: $desktop-size)) {
		@content;
	}
}
@mixin largedesktop () {
	@include breakpoint(query-size($min: $desktop-size, $max: $largedesktop-size)) {
		@content;
	}
}
@mixin largestdesktop () {
	@include breakpoint(query-size($min: $largedesktop-size)) {
		@content;
	}
}