$shadow-distant: rem(2);
$shadow-color: #000;
$shadow-alpha: .2;
$shadow-rgba: rgba(red($shadow-color), green($shadow-color), blue($shadow-color), $shadow-alpha);

$shadow-center: 0 1px $shadow-distant $shadow-distant $shadow-rgba;
$shadow-left: -1 * ($shadow-distant / 2) 1px $shadow-distant $shadow-distant $shadow-rgba;
$shadow-right: ($shadow-distant / 2) 1px $shadow-distant $shadow-distant $shadow-rgba;
$shadow-top: 0 -1 * ($shadow-distant / 2) $shadow-distant $shadow-distant $shadow-rgba;
$shadow-bottom: 0 ($shadow-distant / 2) $shadow-distant $shadow-distant $shadow-rgba;

@mixin box-shadow ($property...) {
	-webkit-box-shadow: $property;
	-moz-box-shadow: $property;
	box-shadow: $property;
}