.view-works-anchor {
  align-items: center;
  display: grid;
  height: 100vh;

  a {
    background-color: $darkest_white;
    color: transparent;
    display: block;
  }

  img {
    height: 100%;
    max-width: unset;
  }

  li {
    @include circle(2rem);

    transform-timing-function: $easeIn;
    transition-duration: $fast;
    transition-property: filter, transform;

    &.isActive {
      margin: 0.5rem 0;
      transform: scale(1.5);

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:not(.isActive) {
      filter: brightness(0.8) grayscale(90%);
    }
  }

  ul {
    grid-gap: unset;
  }

  .image {
    display: flex;
    height: 100%;
    justify-content: center;
  }
}
