$backgroundColor: $yellow;

[data-current-routes^=contact] {
  background: $backgroundColor;
}

[data-routes^=contact] {
  background: $backgroundColor;
}

:export {
  leftColor: $backgroundColor;
  rightColor: $backgroundColor;
}