.through() {
    background-image: url(@transparent_base64);
    pointer-events: none;

    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=@transparent_base64, sizingMethod='scale');
    *background:none !important\9;
}

.circle(@size) {
    .border-radius(50%);
    height: @size;
    width: @size;
}

.hidden() {
    .opacity(0);

    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

.inline-block() {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
}

.truncate(@width: 100%) {
    width: @width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
