.setIcon (@size) {
    .transition(~'all @{speed_fast}');

    font-size: @size;
    height: @size;
    position: relative;
    overflow: hidden;
    text-indent: -9999px;
    width: @size;

    &:before {
        .transition(~'color @{speed_fast}, height @{speed_fast}, width @{speed_fast}');

        height: @size;
        left: 0;
        position: absolute;
        text-align: center;
        text-indent: 0;
        top: 0;
        width: @size;
    }
}
.setIconSize (@size) {
    font-size: @size;
    height: @size;
    width: @size;

    &:before {
        height: @size;
        width: @size;
    }
}

.setLogo (@color) {
    .transition(~'background-image @{speed_fast}, height @{speed_fast}, margin @{speed_fast}, margin-top @{speed_fast}, width @{speed_fast}');
    
    .background-size(cover);

    .setLogoColor(@color);
    background-repeat: no-repeat;
    background-position: left;
    display: block;
    height: @grid_ss / 3;
    overflow: hidden;
    text-indent: -9999px;
    width: @grid_ss / 3 * 2.5;
}
.setLogoWidth (@width) {
    width: @width;
}
.setLogoHeight (@height) {
    height: @height;
}
.setLogoColor (@color) {
    background-image: url(~'../../asset/image/logo/kicl.@{color}.png');
}

.through() {
    background-image: url(@transparent_base64);
    pointer-events: none;

    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=@transparent_base64, sizingMethod='scale');
    *background:none !important\9;
}

.circle(@size) {
    .border-radius(50%);
    height: @size;
    width: @size;
}

.hidden() {
    .opacity(0);

    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

.inline-block() {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
}

.truncate(@width: 100%) {
    width: @width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
