@white: #fdfcf7;
@black: #1f1f1f;
@grey: #B7C4CC;
@light_grey: lighten(@grey, 15);
@darker_grey: #3f3f3f;
@dark_grey: lighten(@darker_grey, 20);
@green: #2FA390;
@orange: #F33627;
@red: #C9191E;

@font_family: "proxima-nova", "open-sans", sans-serif;

@font_size: 14px;

@speed: 500ms;
@ease: cubic-bezier(.89,.01,.91,.85);
@speed_fastest: (@speed * .4) @ease;
@speed_faster: (@speed * .6) @ease;
@speed_fast: (@speed * .8) @ease;
@speed_standard: @speed @ease;
@speed_slow: (@speed * 1.2) @ease;
@speed_slower: (@speed * 1.4) @ease;
@speed_slowest: (@speed * 1.6) @ease;

@shadow: 0 0 2px 2px rgba(red(@black), green(@black), blue(@black), .25);

@transparent_base64: 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';

@image_path: '../../asset/image/';