@white: #f6f6f6;
@dark_white: darken(@white, 1);
@darker_white: darken(@white, 6);

@black: #1f1f1f;
@light_black: lighten(@black, 3);

@grey: #B7C4CC;
@light_grey: lighten(@grey, 15);
@darker_grey: #3f3f3f;
@dark_grey: lighten(@darker_grey, 20);

@green: #2FA390;
@blue: #22313f;
@orange: #F33627;
@red: #C9191E;

@gold: #B0976D;

@font_family: "proxima-nova",sans-serif;
@font_weight: 100;

//@h_font_family: "Montserrat", sans-serif;
@h_font_family: "proxima-nova", sans-serif;
@h_font_weight: 400;

@bold: 500;

@font_size: 16px;

@h_font_size: @font_size * 3;

@corner: 5px;

//==== Grid ====//
@grid: 80px;
@space: 10px;

@grid_xl: (((@grid + @space) * 14) + @grid);
@grid_xm: (((@grid + @space) * 13) + @grid);
@grid_xs: (((@grid + @space) * 12) + @grid);

@grid_ll: (((@grid + @space) * 11) + @grid);
@grid_lm: (((@grid + @space) * 10) + @grid);
@grid_ls: (((@grid + @space) * 8) + @grid);

@grid_ml: (((@grid + @space) * 8) + @grid);
@grid_mm: (((@grid + @space) * 7) + @grid);
@grid_ms: (((@grid + @space) * 6) + @grid);

@grid_l: (((@grid + @space) * 5) + @grid);
@grid_m: (((@grid + @space) * 4) + @grid);
@grid_s: (((@grid + @space) * 3) + @grid);

@grid_sl: (((@grid + @space) * 2) + @grid);
@grid_sm: (@grid + @space + @grid);
@grid_ss: @grid;

@screen_xl: (@grid_xl + (@space * 2));
@screen_xm: (@grid_xm + (@space * 2));
@screen_xs: (@grid_xs + (@space * 2));

@screen_ll: (@grid_ll + (@space * 2));
@screen_lm: (@grid_lm + (@space * 2));
@screen_ls: (@grid_ls + (@space * 2));

@screen_ml: (@grid_ml + (@space * 2));
@screen_mm: (@grid_mm + (@space * 2));
@screen_ms: (@grid_ms + (@space * 2));

@screen_l: (@grid_l + (@space * 2));
@screen_m: (@grid_m + (@space * 2));
@screen_s: (@grid_s + (@space * 2));

@screen_sl: (@grid_sl + (@space * 2));
@screen_sm: (@grid_sm + (@space * 2));
@screen_ss: (@grid_ss + (@space * 2));
//==== ==== ====//

//==== speed====//
@speed: 500ms;
@ease: cubic-bezier(0.470, 0.000, 0.745, 0.715);
@ease_smooth: ease-in;

@speed_fastest: (@speed * .4);
@speed_faster: (@speed * .6);
@speed_fast: (@speed * .8);
@speed_standard: @speed;
@speed_slow: (@speed * 1.2);
@speed_slower: (@speed * 1.4);
@speed_slowest: (@speed * 1.6);
//==== ==== ====//

@shadow: 0 0 2px 2px rgba(red(@black), green(@black), blue(@black), .2);

@image_path: '../../asset/image/';

@transparent_base64: 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';
