@black : #353535;
@dark_grey : #5a5a5a;
@grey : #999;
@white : #fafafa;

@red : #f66;
@orange : #f17a2e;

@font_family : 'Comfortaa',cursive;

@font_size : 16px;

@h1_size : @font_size * 3;
@h2_size : @h1_size * .8;
@h3_size : @h1_size * .6;
@h4_size : @h1_size * .4;
@h5_size : @h1_size * .2;

@line_height : 1.5rem;

@speed : 500ms;
@ease: cubic-bezier(.82,0,.07,1);
@speed_fastest : (@speed * .4) @ease;
@speed_faster : (@speed * .6) @ease;
@speed_fast : (@speed * .8) @ease;
@speed_standard : @speed @ease;
@speed_slow : (@speed * 1.2) @ease;
@speed_slower : (@speed * 1.4) @ease;
@speed_slowest : (@speed * 1.6) @ease;

@transparent_base64: 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';

@image_path : '../../asset/image/';