@import '_import';

main[data-route^=about] {
	@gap: (@space * 3);

	background-color: @darker_white;

	> section {
		margin: 0 auto @gap;
		max-width: @screen_ls;
		width: 90%;

		+ section {
			padding-bottom: @gap;
		}
	}

	@media all and (max-width: @grid_mm) {
		text-align: center;

		[data-api="behance.experience"] {
			li {
				+ li {
					time {
						padding-right: 0;
					}
				}
			}
		}
	}

	@media all and (max-width: @grid_l) {
		h2 {
			+ section {
				margin-top: @gap;
			}
		}
	}
}
