@import '_import';

.contactForm {
	@gap: (@space * 3);
	@submit_space: @grid_sm + (@space * 2);

	.display(flex);
	.flex-wrap(wrap);

	.box-sizing(border-box);

	margin: 0 auto @gap;
	max-width: @screen_ls;

	padding: @gap @gap 0;

	> ul {
		.order(1);
		.box-sizing(border-box);
		.flex-grow(3);

		padding-bottom: @gap;
		padding-right: @gap;
	}

	> p {
		.order(2);

		padding-bottom: @gap;
		width: @grid_sm;
	}

	> button {
		.order(3);
	}

	[type=submit] {
		margin-left: @submit_space;
	}

	@media all and (max-width: @grid_mm) {
		.justify-content(center);

		> ul,
		> p {
			width: 100%;
		}

		> ul {
			.order(2);

			padding-right: 0;
		}

		> p {
			.order(1);

			text-align: center;
		}

		[type=submit] {
			margin-left: 0;
		}
	}

	@media all and (max-width: @grid_m) {
		padding-left: @space;
		padding-right: @space;
	}
}
