@import '_import';

body > footer {
    @space: 10px;
    @size: 20px;

    .transition(~'opacity @{speed_slow} 100ms, padding-bottom @{speed_fastest}');
    .box-shadow(0 -1px 2px 0 rgba(red(@black), green(@black), blue(@black), .25));

    background-color: @grey;
    border-top: 1px solid darken(@grey, 4);
    font-size: 16px;
    padding-bottom: (@space * 4);

    > *,
    > .tooltip {
        display: inline-block;
        vertical-align: top;
        .opacity(1);
        padding-top: (@space * 2);
    }

    > * {
        .transition(all @speed_faster 500ms);
    }

    > .tooltip {
        .transition(all @speed_faster 100ms);
    }

    > :not(h1) {
        + :not(h1) {
            margin-left: (@space * 2);
        }
    }

    h1 {
        height: @size;
        width: @size;
        padding: (@space * 2) (@space * 3);
        position: relative;

        > .fa {
            color: @white;
            display: block;
            font-size: @font_size;
        }
    }

    .sitemap {
        a {
            color: @darker_grey;

            &:hover {
                color: @white;
                font-weight: 100;
            }

            &:before {
                color: white;
            }
        }

        li {
            &.isCurrent {
                > a {
                    color: @red;
                }
            }
        }

        > ul {
            > li {
                + li {
                    border-left: 1px solid @white;
                }

                ul {
                    li {
                        padding-left: (@space * 1.78);
                    }
                }
            }
        }
    }

    .socialNetwork {
        @size: (@font_size * 2);
        @gap: 0;

        li {
            font-size: @size;
            height: (@size - @gap);
            width: (@size - @gap);

            > a {
                color: @black;
                margin-top: -@gap;

                &:hover {
                    color: @orange;
                    font-weight: 100;
                }
            }

            + li {
                margin-left: @space;
            }
        }
    }

    .tooltip {
        .opacity(0);
        .through();
        .truncate();

        left: 0;
        padding: @space 0;
        position: absolute;
        top: 0;

        &:before {
            padding-left: @space;
        }
    }

    &:not(.isExpanded) {
        padding-bottom: 0;

        h1,
        .sitemap,
        .socialNetwork {
            .opacity(0);
            .through();
            padding-top: 0;
        }

        > * {
            .transition(all @speed_faster 100ms);
        }

        .tooltip {
            .transition(all @speed_faster 500ms);
            .opacity(1);
        }
    }
}