@import '_import';

.globalFooter {
	@logo_size : (@grid_ss / 4);

	.transition(~'background-color @{speed_fast} @{ease}, box-shadow @{speed} @{ease}');

	.display(flex);
	.align-items(stretch);

	background-color: @darker_white;

	&.isOverlay {
		.box-shadow(@shadow);

		background-color: @white;
	}

	.logo {
		.setLogoHeight(@logo_size);
		.setLogoWidth(@logo_size * 2.5);

		margin: @space;
		margin-left: @space * 4;
	}

	.socialNetwork {
		.transition-property(margin-right);
		.transition-timing-function(@ease);
		.transition-duration(@speed_fast);

		.order(2);

		height: 100%;
		margin-right: @space * 4;
		position: absolute;

		a {
			.setIconSize(1.5rem);
		}
	}

	h1,
	.navigation,
	.copyright {
		.order(1);
	}

	h1 {
		.transition-property(opcaity);
		.transition-timing-function(@ease);
		.transition-duration(@speed_fast);

		.opacity(1);
	}

	.navigation {
		.transition-property(opcaity);
		.transition-timing-function(@ease);
		.transition-duration(@speed_slow);

		.opacity(1);

		margin-right: @space;
	}

	.copyright {
		color: @dark_grey;
		font-size: .8rem;
	}

	@media all and (max-width: @grid_ls) {
		.logo {
			margin-left: @space;
		}

		.socialNetwork {
			margin-right: 0;
		}
	}

	@media all and (max-width: @grid_ml) {
		.logo {
			.setLogoWidth(@logo_size);
		}
	}

	@media all and (max-width: @grid_mm) {
		.navigation {
			.hidden();
		}
	}

	@media all and (max-width: @grid_ms) {
		h1 {
			.opacity(0);

			width: 0;
		}
	}

	@media all and (max-width: @grid_m) {
		.justify-content(center);

		.socialNetwork {
			.align-self(center);

			left: 0;
			position: relative;
			right: auto;
		}

		.copyright {
			.hidden();
		}
	}
}
