@import '_import';

.globalHeader {
	.transition(~'box-shadow @{speed} @{ease}, margin-top @{speed_fast} @{ease}');

	.display(flex);
	.align-items(stretch);

	background-color: @dark_white;
	overflow: hidden;
	top: 0;

	.navigation {
		.transition-property(margin-top);
		.transition-timing-function(@ease);
		.transition-duration(@speed);
	}

	&.isOverlay {
		.box-shadow(@shadow);

		.breadcrumb {
			background-color: @dark_white;
		}

		@media all and (min-width: @grid_mm) {
			.logo,
			.navigation {
				margin-top: -100%;
			}
		}
	}

	@media all and (max-width: @grid_m) {
		.justify-content(space-between);
	}

	.logo {
		margin: @space * 2;
		margin-left: @space * 4;

		@media all and (max-width: @grid_ls) {
			margin: @space;
		}

		@media all and (max-width: @grid_m) {
			.setLogoWidth(@grid_ss / 3);
		}
	}

	.navigation {
		@media all and (max-width: @grid_m) {
			padding-right: @space;
		}
	}

	.breadcrumb {
		.transition(~'background-color @{speed_fast} @{ease}, opacity @{speed_standard} @{ease}, padding-left @{speed_fast} @{ease}');
		.opacity(1);

		background-color: @darker_white;
		bottom: 0;
		left: 0;
		padding-left: @space * 3;
		position : absolute;

		@media all and (max-width: @grid_ls) {
			padding-left: 0;
		}

		&.isHidden {
			.opacity(0);

			background-color: transparent;
		}
	}
}
