@import '_import';

.globalHeader {
	.transition-property(background-color);
	.transition-timing-function(@ease);
	.transition-duration(@speed_fast);
	.display(flex);
	.align-items(stretch);

	background-color: @dark_white;
	top: 0;

	&.isOverlay {
		.breadcrumb {
			.box-shadow(@shadow);

			background-color: @dark_white;
		}
	}

	.logo {
		margin: @space * 2;
		margin-left: @space * 4;
	}

	.navigation {
		.transition-property(margin-top);
		.transition-timing-function(@ease);
		.transition-duration(@speed);

		z-index: 2000;
	}

	.breadcrumb {
		.transition(~'background-color @{speed_fast} @{ease}, opacity @{speed_standard} @{ease}, padding-left @{speed_fast} @{ease}');
		.opacity(1);

		background-color: @darker_white;
		top: 100%;
		left: 0;
		padding-left: @space * 3;
		position : absolute;
		z-index: 1000;

		&.isHidden {
			.opacity(0);

			background-color: transparent;
		}
	}

	@media all and (max-width: @grid_ls) {
		.logo {
			margin: @space;
		}

		.breadcrumb {
			padding-left: 0;
		}
	}

	@media all and (min-width: @grid_mm) {
		&.isOverlay {
			.logo,
			.navigation {
				margin-top: -100%;
			}
		}
	}

	@media all and (max-width: @grid_m) {
		.justify-content(space-between);

		.logo {
			.setLogoWidth(@grid_ss / 3);
		}

		.navigation {
			padding-right: @space;
		}
	}
}
