@import '_import';

main[data-route=home] {
	.transition(font-size @speed_faster);

	.display(flex);
	.box-sizing(border-box);
	.flex-direction(column);
	.justify-content(center);
	.align-items(center);

	background-color: @light_grey;
	font-size: (@font_size * 1.5);
	height: 100%;
	line-height: (@font_size * 2);

	&:before {
		.background-image(url(../asset/image/gradient.full.png));
	}

	@media all and (max-width: @grid_l) {
		font-size: @font_size;
		line-height: (@font_size * 1.5);
	}

	h2,
	p {
		@delay : (@speed * 2);
		
		.transition-property(opacity);
		.transition-timing-function(@ease);
		.transition-duration(@speed_slow);
		.transition-delay(@delay);
	}

	h2 {
		padding-bottom: @space;
	}

	p {
		text-align: center;
		margin: 0 auto;
		max-width: @grid_mm;
		width: 80%;
	}

	&.ng-animate {
		&.ng-enter {
			h2,
			p {
				.opacity(0);
			}
		}

		&.ng-enter-active {
			h2,
			p {
				.opacity(1);
			}
		}

		&.ng-leave {
			h2,
			p {
				.opacity(1);
			}
		}

		&.ng-leave-active {
			h2,
			p {
				.opacity(0);
			}
		}
	}
}
