@import '_import';

html[data-route=home] {
	@bleed: 10%;
	@space: 40px;

	background-image: url(../asset/image/room.jpg);
	color: @white;
		
	&:before {
		.opacity(.7);
		
		background-color: @black;
		content: '';
		display: block;
		height: 140%;
		left: -20%;
		top: -20%;
		position: fixed;
		width: 140%;
	}

	header,
	main,
	footer {
		.opacity(1);

		padding: 0 @bleed;
	}

	main,
	footer {
		text-align: center;
	}

	body {
		position: relative;
	}

	header {
		.justify-content(center);
		
		margin-bottom: @space;
		padding-top: @bleed;

		@media all and (max-width: @screen_ls) {
			padding-top: (@bleed * 2);
		}

		.navigation,
		.breadcrumb {
			.hidden();
		}
	}

	main {
		+ main {
			.hidden();
		}

		> * {
			+ * {
				margin-top: @space;
			}
		}

		h2 {
			@media all and (max-width: @screen_ms) {
				.hidden();
			}
		}

		p {
			@size: 40%;

			margin-left: auto;
			margin-right: auto;
			width: @size;

			@media all and (max-width: @screen_xm) {
				@size: 50%;

				width: @size;
			}

			@media all and (max-width: @screen_ll) {
				@size: 60%;

				width: @size;
			}

			@media all and (max-width: @screen_ml) {
				@size: 80%;

				width: @size;
			}

			@media all and (max-width: @screen_ms) {
				.hidden();
			}
		}
	}

	footer {
		margin-top: @space;
		padding-bottom: @bleed;

		> * {
			+ * {
				margin-top: @space;
			}
		}

		h1 {
			.hidden();
		}
	}

	a {
		color: @white;
	}

	.navigation,
	.socialNetwork {
		@size: 40%;

		margin-left: auto;
		margin-right: auto;
		width: @size;

		ul {
			.justify-content(space-around);
		}

		@media all and (max-width: @screen_ls) {
			@size: 60%;

			width: @size;
		}

		@media all and (max-width: @screen_ml) {
			@size: 80%;

			width: @size;
		}

		@media all and (max-width: @screen_ms) {
			@size: 90%;

			width: @size;
		}
	}

	.navigation {
		ul {
			@media all and (max-width: @screen_ms) {
				.flex-direction(column);
				.align-items(center);
			}
		}

		li {
			@size: 100px;

			.display(flex);
			.align-items(center);
			.justify-content(center);
			.circle(@size);

			border: 1px solid @white;

			@media all and (max-width: @screen_xs) {
				@size: 80px;

				.circle(@size);
			}

			+ li {
				@media all and (max-width: @screen_ms) {
					margin-top: 10px;
				}
			}
		}
	}

	.socialNetwork {
		@media all and (max-width: @screen_ms) {
			@size: 80%;

			width: @size;
		}

		a {
			.resetIcon(2rem);
		}
	}

	.setLogo(150px, 60px, 'white');

	body {
		&.loading {
			.opacity(0);
			.through();
			.transform(scale(.8, .8));
		}

		&:not(.loading) {
			.transition(~'opacity @{speed_faster}, transform @{speed_faster}');
			.transform(scale(1, 1));
		}
	}
}