@import '_import';

.icon {
    height: 100%;
    overflow: hidden;
    position: relative;
    text-indent: -9999px;
    width: 100%;

    &:before {
        left: 0;
        padding-right: 0;
        position: absolute;
        text-align: center;
        text-indent: 0;
        top: 0;
    }
}