@import '_import';

html {
	background-color: @darker_white;
	height: 100%;
	position: absolute;
	width: 100%;

	&:before {
		.background-image(url(../asset/image/gradient.full.png));
	}

	* {
		.border-radius(1px);
	}

}

header[role=banner],
footer[role=contentinfo] {
	position: fixed;
	width: 100%;
	z-index: 2000;
}

main {
	.transition-property(background, opacity);
	.transition-timing-function(@ease);
	.transition-duration(@speed_slower);

	.background-image(url(@transparent_base64));
	.background-size(cover);
	.box-sizing(border-box);

	background-color: @black;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1000;

	&:before,
	&:after {
		.transition-property(background);
		.transition-timing-function(@ease);
		.transition-duration(@speed_slow);

		.background-image(url(@transparent_base64));

		content: '\0020';
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
	&:before {
		z-index: -1;
	}
	&:after {
		z-index: -1;
	}

	&.ng-animate {
		&.ng-enter {
			.opacity(0);
		}

		&.ng-enter-active {
			.opacity(1);
		}

		&.ng-leave {
			.opacity(1);
		}

		&.ng-leave-active {
			.opacity(0);
		}
	}
}

footer[role=contentinfo] {
	bottom: 0;
}
