@import '_import';

.logo {
    .transition(all @speed_fastest 100ms);
    .background-image(url('../asset/image/logo.kicl.white.png'));
    .background-size(cover);

    display: block;
    position: relative;
    overflow: hidden;
    text-indent: -9999px;
    height: 100%;
    width: 100%;

    &:hover {
        border-bottom: 0;
        margin-bottom: 0;
    }
}

body:not([data-route=home]) {
    .logo {
        .background-image(url('../asset/image/logo.kicl.grey.png'));
    }
}