@import '_import';

main[data-route^=projects] {
	@gap: (@space * 3);

	h2 {
		.transition-property(color);
		.transition-timing-function(@ease);
		.transition-duration(@speed_faster);

		position: relative;
		z-index: 2000;
	}

	> section {
		position: relative;
		z-index: 1000;
	}

	[data-api="behance.projects"] {
		.transition-timing-function(@ease);
		.transition-duration(@speed_fast);

		.box-sizing(border-box);
		.opacity(1);

		margin: 0 auto @gap;
		max-width: @screen_ls;
		width: 90%;
	}

	&:not([data-route$=projects]) {
		[data-api="behance.projects"] {
			.transform(scale3d(.8, .8, .8), translate3d(@grid_s, 0, 0));

			.opacity(0);

			left:0;
			margin-left:auto;
			margin-right:auto;
			position: absolute;
			right:0;
			top: 0;
		}
	}
}
