@import '_import';

.sitemap {
    @space: 10px;

    a {
        text-transform: capitalize;

        &:hover {
            border-bottom: 0;
            margin-bottom: 0;
        }

        + ul {
            margin-top: (@space * 2);
        }
    }

    li {
        &.isCurrent {
            > a {
                cursor: default;
            }
        }
    }

    > ul {
        display: table;

        > li {
            display: table-cell;
            min-width: (@space * 14);
            padding-right: (@space * 2);

            &:last-child {
                padding-right: 0;
            }

            + li {
                padding-left: (@space * 2);
            }

            li {
                + li {
                    margin-top: (@space * 2);
                }
            }
        }
    }
}