@import '_import';

.socialNetwork {
	.setHoverColor (@color) {
		a {
			&:hover {
				color : @color;
			}
		}
	}

	.display(flex);
	.align-items(stretch);

	padding: 0 @space;

	ul {
		.display(flex);
		.align-items(center);
	}

	li {
		position: relative;

		+ li {
			margin-left: @space;
		}

		&.linkedin {
			.setHoverColor(#0077B5);
		}

		&.twitter {
			.setHoverColor(#1DCAFF);
		}

		&.google-plus {
			.setHoverColor(#D34836);
		}

		&.behance {
			.setHoverColor(#053EFF);
		}
	}

	a {
		.setIcon(2rem);

		margin-top: 0;
	}
}