@import '_import';

.loader {
    @size: (@font_size * 3);
    @space: 10px;

    .transition(all @speed_standard 100ms);
    .opacity(1);
    .circle(@size);

    background-color: @white;
    font-size: @size;
    left: 50%;
    overflow: hidden;
    margin-left: -((@size + (@space * 2)) / 2);
    margin-top: -((@size + (@space * 2)) / 2);
    padding: @space;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    z-index: 99;

    &:before {
        display: block;
        text-indent: 0;
        left: @space;
        position: absolute;
        top: @space;
        width: @size;
    }

    &.ng-leave-active {
        .opacity(0);
    }
}

.logo {
    @space: 50px;
    @size: 120px;

    .transition(all @speed_standard 100ms);
    .circle(@size);
    .background-image(url(~'@{image_path}gradient.full.png'));

    background-color: @dark_grey;
    display: block;
    padding: @space;
    position: relative;
    text-indent: -9999px;
    overflow: hidden;

    &:before {
        .transition(all @speed_standard 100ms);
        .background-image(url(~'@{image_path}logo.kicl.white.png'));
        .background-size(contain);
        
        background-position: center;
        background-repeat: no-repeat;
        content: "\00a0";
        display: block;
        height: @size;
        left: @space;
        position: absolute;
        top: @space;
        width: @size;
    }

    &:hover {
        background-color: @red;
    }
}
