@import '_import';

main[data-route^=work] {
	@gap: (@space * 3);

	background-color: @darker_white;

	h2 {
		.transition-property(color);
		.transition-timing-function(@ease);
		.transition-duration(@speed_faster);

		position: relative;
		z-index: 2000;
	}

	> section {
		position: relative;
		z-index: 1000;
	}

	[data-api="behance.projects"] {
		.transition-timing-function(@ease);
		.transition-duration(@speed_faster);

		.box-sizing(border-box);
		.opacity(1);

		margin: 0 auto @gap;
		max-width: @screen_ls;
		width: 90%;
	}

	&:not([data-route$=work]) {
		[data-api="behance.projects"] {
			.opacity(0);
			.transform(~'translate3d(-@{grid_s}, 0, 0)');

			left: 25%;
			position: absolute;
			top: 0;
		}
	}
}
