@import '_import';

main[data-route^=work] {
	@gap: (@space * 3);

	background-color: @darker_white;

	[data-api="behance.projects"] {
		.transition-property(opacity);
		.transition-timing-function(@ease);
		.transition-duration(@speed_fast);

		.box-sizing(border-box);
		.opacity(1);

		margin: 0 auto @gap;
		max-width: @screen_ls;
		width: 90%;
	}

	&:not([data-route$=work]) {
		[data-api="behance.projects"] {
			.opacity(0);

			left: 50%;
			margin-left: -45%;
			position: absolute;
			z-index: 2000;
		}
	}
}
