@import '_import';

main[data-route^=work] {
	@backgorund_opacity: .8;
	@bleed: (@space * 4);

	[data-api="behance.project"] {
		.box-sizing(border-box);

		margin: 0 auto;
		width: 90%;
	}

	[data-api="behance.project"] {
		max-width: @screen_xs;
	}

	&:not([data-route$=work]) {
		[ui-view="view"] {
			position: relative;
			z-index: 3000;

			&:before {
				.opacity(@backgorund_opacity);

				content: '\0020';
				background-color: @darker_white;
				height: 100%;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 1000;
			}

			article {
				.box-shadow(@shadow);

				background-color: @white;
				padding: @bleed;
				position: relative;
				margin-bottom: @bleed;
				z-index: 2000;
			}

			&.ng-animate {
				.transition-duration(@speed_faster * 3);

				&:before {
					.transition-property(opacity);
					.transition-timing-function(@ease_smooth);
					.transition-duration(@speed_faster);

					.opacity(@backgorund_opacity);
				}

				article {
					.transition-timing-function(@ease_smooth);
					.transition-duration(@speed_faster);
					.transition-delay(@speed_faster);
				}

				&.ng-enter {
					&:before {
						.opacity(0);
					}

					article {
						.opacity(0);
						.transform(~'translate3d(0, @{grid_s}, 0)');
					}
				}

				&.ng-enter-active {
					&:before {
						.opacity(@backgorund_opacity);
					}

					article {
						.opacity(1);
						.transform(~'translate3d(0, 0, 0)');
					}
				}

				&.ng-leave {
					&:before {
						.opacity(@backgorund_opacity);
					}

					article {
						.opacity(1);
						.transform(~'translate3d(0, 0, 0)');
					}
				}

				&.ng-leave-active {
					&:before {
						.opacity(0);
					}

					article {
						.opacity(0);
						.transform(~'translate3d(0, @{grid_s}, 0)');
					}
				}
			}
		}
	}
}
