@import '_import';

main[data-route^=work] {
	@backgorund_opacity: .8;
	@bleed: (@space * 4);
	@background_color: @black;
	@overlay_background_color: @white;
	@overlay_color: @black;
	@project_size: 90%;
	@project_max_size: @screen_xs;

	[data-api="behance.project"] {
		.box-sizing(border-box);

		margin: 0 auto;
		width: @project_size;
	}

	[data-api="behance.project"] {
		max-width: @project_max_size;
	}

	&:not([data-route$=work]) {

		h2 {
			color: @white;
		}

		[ui-view="view"] {
			position: relative;
			z-index: 3000;

			&:before {
				.opacity(@backgorund_opacity);

				content: '\0020';
				background-color: @background_color;
				height: 100%;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 1000;
			}

			[data-api="behance.project"] {
				.box-shadow(@shadow);

				background-color: @white;
				padding: @bleed;
				position: relative;
				margin-bottom: @bleed;
				z-index: 2000;

				@media all and (min-width: @screen_ls) {
					div {
						padding-bottom: @bleed * 1.5;
					}
				}

				aside {
					padding-bottom: @bleed;
				}

				footer {
					.transition-property(background-color, bottom);
					.transition-timing-function(@ease);
					.transition-duration(@speed_faster);

					.box-sizing(border-box);

					background-color: @white;
					bottom: @bleed;
					left: 0;
					padding: 0 @bleed / 2;
					position: absolute;
					width: 100%;

					@media all and (min-width: @screen_ls) {
						padding: 0 @bleed;
					}
				}
			}

			&.ng-enter,
			&.ng-leave {
				.transition-timing-function(@ease);
				.transition-duration((@speed_faster * 3) + @speed);

				[data-api="behance.project"] {
					.transition-property(transform, opacity);
					.transition-timing-function(@ease);
					.transition-duration(@speed_faster);
				}
			}

			&.ng-enter {
				&:before {
					.transition-property(opacity);
					.transition-timing-function(@ease);
					.transition-duration(@speed_faster);
					.transition-delay(@speed_faster);

					.opacity(0);
				}

				[data-api="behance.project"] {
					.transition-delay(@speed);

					.transform(translate3d(@grid_s, 0, 0));
					.opacity(0);
				}
			}

			&.ng-enter-active {
				&:before {
					.opacity(@backgorund_opacity);
				}

				[data-api="behance.project"] {
					.transform(translate3d(0, 0, 0));
					.opacity(1);
				}
			}

			&.ng-leave {
				&:before {
					.opacity(0);
				}

				[data-api="behance.project"] {
					.transform(translate3d(0, 0, 0));
					.opacity(1);
				}
			}

			&.ng-leave-active {
				[data-api="behance.project"] {
					.transform(translate3d(-1 * @grid_s, 0, 0));
					.opacity(0);
				}
			}
		}

		.isOverlay {
			[data-api="behance.project"] {
				footer {
					@gap: @bleed / 2;

					.box-shadow(@shadow);

					background-color: @overlay_background_color;
					bottom: @bleed;
					padding-bottom: @space;
					padding-top: @space;
					position: fixed;

					@media all and (min-width: @screen_ls) {
						ul {
							.box-sizing(border-box);

							margin: 0 auto;
							max-width: @project_max_size;
							padding-left: @gap;
							padding-right: @gap;
							width: @project_size;
						}
					}
				}

				.tool {
					a,
					button {
						.setIcon(1.3rem);

						color: @overlay_color;

						&:hover {
							color: @orange;
						}
					}
				}
			}
		}
	}
}
