$default: get($view-home-slogan, 'default');

[data-view-component="#{$default}"] {
  font-family: get($font, 'font-family.bold');
  font-size: 15vmin;
  font-weight: get($font, 'font-weight.boldest');
  line-height: get($font, 'line-height.narrowest');
  white-space: pre-wrap;
  word-break: break-word;

  @include tablet() {
    font-size: 12vmin;
  }

  @include mobile() {
    font-size: 10vmin;
  }
}
