@import '_import';

.breadcrumb {
	@include set-transition(background-color, opacity, transform);

	background-color: $dark_white;
	border: 1px solid transparent;
	border-bottom-color: $grey;

	@include mobile () {
		border: 0;
		height: 0;
		overflow: hidden;
		padding: 0 rem($gutter);
	}

	div {
		@include display(flex);
		@include flex-direction(row-reverse);
		@include align-items(baseline);
		@include justify-content(center);
		
		padding: rem($space) rem($gutter);
	}

	i {
		margin: 0 rem($space);
	}

	a {
		@include unset-transition();

		text-transform: capitalize;
	}

	.title {
		@include hidden();
	}

	.home {
		@include set-logo-size();
		@include set-logo-content();
	}

	&.ng-hide-add {
		@include transform(translate3d(0, 0, 0));
		
		@include opacity(1);

		&.ng-hide-add-active {
			@include transform(translate3d(0, -100%, 0));

			@include opacity(0);
		}
	}

	&.ng-hide-remove {
		@include transform(translate3d(0, -100%, 0));

		@include opacity(0);

		&.ng-hide-remove-active {
			@include transform(translate3d(0, 0, 0));

			@include opacity(1);
		}
	}
}