@import '_import';
@import '../_project';

@include set-project('1177731', $yellow, $black);

[data-project-current-id='1177731'] {
	[data-api='behance.project'] {
		color: darken($yellow, 50%);

		.tool {
			a {
				&:hover {
					color: $orange;
				}
			}
		}
	}

	[data-api='behance.project.slideshow'] {
		a,
		button i {
			color: $dark_grey;
		}
	}
}