$viewWorksItem: "kicl-works-component-item";
$viewWorksItemInView: "is-view";

$viewWorksItemColorAlpha: 0.9;
$viewWorksItemLinkSize: calc(100% - #{$grid});
$viewWorksItemMinSize: 10rem;
$viewWorksItemSize: 60vh;
