.#{$viewWorksItem} {
  position: relative;
  display: grid;
  width: 100%;
  height: $viewWorksItemSize;
  align-items: center;
  padding: 0 $min-grid;
  justify-items: center;

  figure {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: $viewWorksItemSize;
    border-radius: 50%;
    mask-image: radial-gradient(white, black);

    &::before {
      display: block;
      width: 100%;
      padding-bottom: 100%;
      content: "\0020";
    }
  }

  img,
  figcaption,
  a {
    transition-duration: $fast;
    transition-timing-function: $easeIn;
  }

  img,
  figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: top left;
  }

  figcaption,
  a {
    display: grid;
    align-items: center;
    justify-items: center;
  }

  img {
    height: 100%;
    transition-property: filter, transform;
  }

  figcaption {
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: rgba($black, $viewWorksItemColorAlpha);
    transition-property: background-color, opacity, transform;
  }

  a {
    width: $viewWorksItemLinkSize;
    height: $viewWorksItemLinkSize;
    border: 3px solid $white;
    border-radius: 50%;
    color: $white;
    text-align: center;
    transform-origin: center;
    transition-property: border-color, border-width, color, transform;
  }

  &.#{$viewWorksItemInView} {
    pointer-events: none;

    figcaption {
      opacity: 0;
      transform: scale(1.2) translate3d(-50%, -50%, 0);
    }
  }

  &:not(.#{$viewWorksItemInView}) {
    figure {
      &:hover,
      &:focus {
        img {
          transform: scale(1) translate3d(-50%, -50%, 0);
        }

        figcaption {
          background-color: rgba($white, $viewWorksItemColorAlpha);
        }

        a {
          border-width: 8px;
          border-color: $black;
          color: $black;
          transform: scale(1.1);
        }
      }
    }

    img {
      transform: scale(1.2) translate3d(-50%, -50%, 0);
    }
  }
}

:export {
  classname: #{$viewWorksItem};
  inviewclassname: #{$viewWorksItemInView};
}
