@font-face {
  font-family: $kicl-font-name;
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/kicl/kicl.eot?1g05q6");
  src:
    url("./fonts/kicl/kicl.eot?#iefix1g05q6") format("embedded-opentype"),
    url("./fonts/kicl/kicl.ttf?1g05q6") format("truetype"),
    url("./fonts/kicl/kicl.woff?1g05q6") format("woff"),
    url("./fonts/kicl/kicl.svg?1g05q6#kicl") format("svg");
}
