@import '_import';

[ui-view='experiment'][data-route='experiments.cube'] {
	div {
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);

		height: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;
		width: 100%;
	}
}