@import 'import';

$homeGrid : $grid * 3;

[data-view=home] {
  .GlobalFooter {
    bottom: 0;
    position: fixed;
  }
}

main[data-view=home] {
  z-index: 3000;
}

section[data-view=home] {
  @include transition-property(width);
  @include transition-duration($fast);
  @include transition-timing-function($easing);
  @include transform(translate3d(-50%, -50%, 0));

  border-radius: 50%;
  border: 1px solid $light_grey;
  color: $black;
  left: 50%;
  max-width: 30rem;
  position: fixed;
  top: 50%;
  width: 30%;
  will-change: width;

  &::before {
    @include content();

    display: block;
    padding-top: 100%;
    width: 100%;
  }

  div {
    @include display-flex();
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    @include transform(translate3d(-50%, -50%, 0));

    min-height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 100%;
  }

  .Logo {
    @include set-font-size(4);
  }

  .Navigation {
    @include set-font-size(3);

    text-transform: uppercase;

    a {
      font-family: $bold_font_family;

      + a {
        padding-top: 0;
      }
    }
  }
}
