$column: (
  default: $logo-width,
  mobile: $logo-size
);

$row: (
  default: $logo-size,
  mobile: ($logo-size * 2 + $space)
);

[data-routes^=home] {
  display: grid;

  align-items: center;
  grid-template-columns: map-get($column, default) auto;
  grid-template-rows: 50vh auto 50vh;
  grid-gap: $space;
  grid-template-areas:
    'logo profession'
    '. nav'
    '. description';
  
  background-color: $white;
  font-family: $heading_font_family;
  padding: $grid;

  h1,
  > ul,
  nav,
  p {
    padding-bottom: $space * 2;
  }

  > ul,
  nav {
    font-size: 2.8rem;
    line-height: 1.6rem;
  }

  h1,
  > ul {
    align-self: end;
  }

  h1,
  > ul,
  nav {
    position: relative;
    z-index: 1;
  }

  canvas {
    position: absolute;
    top: 0;
    z-index: 0;
  }

  h1 {
    grid-area: logo;
  }

  nav {
    grid-area: nav;
    text-transform: uppercase;
  }

  > :not(canvas) {
    transition-duration: $fast;
    transition-property: opacity, transform;
    transition-timing-function: $easeOutCirc;
  }

  .description {
    grid-area: description;
  }

  &[class*='css-transition-'] {
    > :not(canvas) {
      opacity: 0;
      transform: translate3d(0, -10vh, 0);
    }
  }

  @include mobile () {
    align-content: end;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: $gutter;
    grid-template-areas:
      'logo'
      'profession'
      'description'
      'nav';

    padding: map-get($column, mobile);
    
    h1,
    nav {
      padding-bottom: 0;
    }

    > ul,
    p {
      padding-bottom: $space;
    }
  }
}

[data-current-routes^=home] {
  overflow: hidden;

  header[rule=banner] {
    &.css-transition-exit {
      transition-delay: $speed;
    }
  }
  
  [data-routes^='home'] {
    &.css-transition-enter {
      transition-delay: $fastest;
      transform: translate3d(0, -100vh, 0);
      z-index: 1;
    }

    &.css-transition-enter-active {
      transform: translate3d(0, 0, 0);
    }
  }

  [data-routes]:not([data-routes^='home']) {
    &.css-transition-exit {
      transition-delay: $faster;
      transform: translate3d(0, 0, 0);
      z-index: 2;
    }

    &.css-transition-exit-active {
      transform: translate3d(0, 100vh, 0);
    }
  }
}

[data-previous-routes^='home'] {
  [data-routes^='home'] {
    &.css-transition-exit {
      transition-delay: $faster;
      transform: translate3d(0, 0, 0);
      z-index: 1;
    }

    &.css-transition-exit-active {
      transform: translate3d(0, -100vh, 0);
    }
  }

  [data-routes]:not([data-routes^='home']) {
    &.css-transition-enter {
      transform: translate3d(0, 100vh, 0);
      z-index: 2;
    }

    &.css-transition-enter-active {
      transform: translate3d(0, 0, 0);
    }
  }
}
