@import 'import';

$homeGrid : $grid * 3;

[data-view=home] {
  .GlobalFooter {
    bottom: 0;
    position: fixed;
  }
}

main[data-view=home] {
  z-index: 3000;
}

section[data-view=home] {
  @include display-flex();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  @include rem(margin, $homeGrid);

  color: $black;
  height: calc(100vh - #{$homeGrid * 2}rem);
  position: fixed;
  width: calc(100vw - #{$homeGrid * 2}rem);

  .Canvas {
    background-color: $darkest_white;
    border-radius: 0.3rem;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  > :not(.Canvas) {
    z-index: 2;
  }

  .Navigation {
    @include flex-direction(column);
    @include set-font-size(2);

    text-transform: uppercase;

    a {
      font-family: $bold_font_family;

      + a {
        padding-top: 0;
      }
    }
  }

  &.animate-enter,
  &.animate-leave,
  .isInitialLoad & {
    .Canvas {
      @include transition-property(transform);
      @include transition-duration($fast);
      @include transition-timing-function($easing);
      @include transform(scale(1.5));
    }

    .Logo,
    .Navigation {
      @include transition-property(opacity);
      @include transition-duration($slow);
      @include transition-timing-function($easing);
      @include opacity(0);
    }
  }

  &.animate-enter,
  .isInitialLoad & {
    .Canvas,
    .Logo,
    .Navigation {
      @include transition-delay($slowest);
    }
  }
}
