[data-routes^=home] {
    display: grid;

    align-items: center;
    grid-template-columns: $logo-width auto auto;
    grid-template-rows: auto $logo-size auto;
    grid-gap: $space;
    grid-template-areas:
        '. . .'
        'logo profession profession'
        '. nav nav';

    color: $red;
    font-family: $heading_font_family;
    padding: $grid;

    ul,
    nav {
        font-size: 2.8rem;
        line-height: 1.6rem;
        text-transform: uppercase;
    }

    h1 {
        grid-area: logo;

        &:before {
            color: $red;
        }
    }

    ul {
        grid-area: profession;
    }

    nav {
        align-items: flex-start;
        grid-area: nav;
    }

    @include mobile () {
        align-items: flex-start;
        grid-template-columns: $logo-size auto auto;
        grid-template-rows: auto ($logo-size * 2 + $space) auto;

        padding: $space;
    }
}