@import '_import';

[data-api='behance.user.avatar'] {
	@include circle(grid-size(3));
	
	position: relative;

	img {
		@include transform(translate3d(-50%, -50%, 0));

		height: 100%;
		left: 50%;
		position: absolute;
		top: 50%;
		width: 100%;
	}
}