[data-routes^=works][data-routes$=works] {
  $navigation: get($component-navigation, 'default');
  $webGL: get($component-webgl, 'default');

  $background-color: get($black, 'default');

  $color: get($white, 'default');
  $header-color: get($black, 'default');

  $exit-transition-duration: get($duration, 'slower');
  $exit-transition-timing-function: get($ease, 'expo.out');

  background-color: $background-color;
  color: $color;
  display: grid;
  grid-template-columns: repeat(8, 12.5vw);
  grid-template-rows: repeat(6, 16.67vh);
  position: relative;

  > div:not([data-component]) {
    /* autoprefixer: ignore next */
    display: contents;
  }

  h1,
  [data-component=#{$webGL}] {
    transition-duration: $exit-transition-duration;
    transition-property: filter, transform;
    transition-timing-function: $exit-transition-timing-function;
    will-change: filter, transform;
  }

  h1 {
    align-items: center;
    animation-duration: get($duration, 'extreme') * 3;
    animation-iteration-count: infinite;
    animation-name: works-h1-animation;
    animation-timing-function: linear;
    color: transparent;
    display: flex;
    font-family: get($font, 'font-family.special');
    font-size: 20vmin;
    grid-column-end: 7;
    grid-column-start: 3;
    grid-row-end: 5;
    grid-row-start: 3;
    justify-content: center;
    line-height: 1;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
  }

  [data-component=#{$navigation}] {
    align-self: center;
    grid-column-end: 9;
    grid-column-start: 8;
    grid-row-end: 7;
    grid-row-start: 1;
    justify-content: center;
    z-index: 2;

    a {
      animation-duration: get($duration, 'extreme') * 3;
      animation-iteration-count: infinite;
      animation-name: works-navigation-animation;
      animation-timing-function: linear;
    }
  }

  [data-component=#{$webGL}] {
    grid-column-start: 1;
    grid-row-start: 1;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 0;
  }

  [data-entered-routes^=works] & {
    $color: get($black, 'default');

    @include set-global-header-color($header-color);
  }

  [data-entered-routes^='works.'] & {
    h1,
    [data-component=#{$webGL}] {
      filter: brightness(0) grayscale(30%);
    }

    h1 {
      transform: translate3d(0, -50%, 0);
    }
  }
}

@keyframes works-h1-animation {
  0% {
    text-shadow: 0 -0.5vmin 0 rgba($yellow, 0.6), -0.5vmin 0 0 rgba($green, 0.1);
  }

  25% {
    text-shadow: -0.5vmin 0 0 rgba($yellow, 0.1), 0 -0.5vmin 0 rgba($green, 0.6);
  }

  50% {
    text-shadow: 0 0.5vmin 0 rgba($yellow, 0.6), 0.5vmin 0 0 rgba($green, 0.1);
  }

  75% {
    text-shadow: 0.5vmin 0 0 rgba($yellow, 0.1), 0 0.5vmin 0 rgba($green, 0.6);
  }

  100% {
    text-shadow: 0 -0.5vmin 0 rgba($yellow, 0.6), -0.5vmin 0 0 rgba($green, 0.1);
  }
}

@keyframes works-navigation-animation {
  0% {
    box-shadow: 0 -0.5vmin 0 rgba($yellow, 0.6), -0.5vmin 0 0 rgba($green, 0.1);
  }

  25% {
    box-shadow: -0.5vmin 0 0 rgba($yellow, 0.1), 0 -0.5vmin 0 rgba($green, 0.6);
  }

  50% {
    box-shadow: 0 0.5vmin 0 rgba($yellow, 0.6), 0.5vmin 0 0 rgba($green, 0.1);
  }

  75% {
    box-shadow: 0.5vmin 0 0 rgba($yellow, 0.1), 0 0.5vmin 0 rgba($green, 0.6);
  }

  100% {
    box-shadow: 0 -0.5vmin 0 rgba($yellow, 0.6), -0.5vmin 0 0 rgba($green, 0.1);
  }
}
