body,
html {
    @include font-smoothing();
    
    display: block;
}

html {
    background-color: $light_black;
    color: $white;

    // Prevent flickering on initial load
    &:not(.wf-active) {
        display: none;
    }
}

body {
    font-family: $font_family;
    font-size: $font_size;
}
