$default: get($css-transition, 'default');
$appear-active: #{get($css-transition, 'appear.active')};
$enter-active: #{get($css-transition, 'enter.active')};
$exit-active: #{get($css-transition, 'exit.active')};

$transition-duration: get($duration, 'normal');

.#{$default} {
  pointer-events: none;
}

.#{$appear-active},
.#{$enter-active},
.#{$exit-active} {
  animation-duration: $transition-duration;
  animation-name: none;
  transition-duration: $transition-duration;
  transition-property: none;
}
