a {
    color: $yellow;
    text-decoration: none;
    transition-property: color;
    transition-timing-function: $ease;
    transition-duration: $slower;

    &:hover,
    &:active {
        color: $blue;
    }

    &.isActive {
        color: inherit;
        pointer-events: none;
    }
}