a {
    color: $yellow;
    display: flex;
    text-decoration: none;
    transition-property: color;
    transition-timing-function: $ease;
    transition-duration: $fast;

    &:hover {
        color: $orange;
    }

    &.isActive {
        color: inherit;
        pointer-events: none;
    }
}