.view-work-modules {
  background-color: $white;
  box-shadow: 0 0 20vw 0 rgba(0, 0, 0, 0.1);
  display: grid;
  grid-gap: $min-grid;
  grid-template-columns: repeat(2, 1fr);
  justify-self: end;
  padding: $grid;

  h1,
  p,
  p + .image {
    grid-column: 1 / 3;
  }

  h1 {
    + p {
      font-family: $heading_font_family;
      font-size: 2rem;
    }
  }

  @include mobile() {
    padding: $min-grid;
  }
}
