<form
	novalidate
	class="customForm {{form.name}}"
	method='post'
	name="{{form.name}}"
	ng-submit="submit()"
	ng-class="{
		'isLoading' : loading
	}"
>
	<p>{{message}}</p>
	<input name="userid" id="userid" class="hiddenInput" type="text" placeholder="UserID" ng-model="model.userid" />
	<ul>
		<li ng-repeat="field in form.field track by $index"
			ng-class="{
				'hasError' : $parent.$$childHead[form.name][field.name].$invalid,
				'forTextarea' : field.type === 'textarea'
			}"
			ng-switch="field.type"
		>
			<label
				ng-attr-for="{{field.name}}"
				ng-if="field.type !== 'radio'"
			>{{field.label}}</label>
			<input
				tabindex="1"
				ng-model="model[field.name]"
				ng-attr-id="{{field.name}}"
				ng-attr-name="{{field.name}}"
				ng-attr-type="{{field.type}}"
				ng-attr-placeholder="{{field.placeholder}}"
				ng-required="field.required"
				ng-minlength="field.minLength"
				ng-maxlength="field.maxLength"
				ng-switch-when="text"
			>
			<input
				tabindex="1"
				ng-model="model[field.name]"
				ng-attr-id="{{field.name}}"
				ng-attr-name="{{field.name}}"
				ng-attr-type="{{field.type}}"
				ng-attr-placeholder="{{field.placeholder}}"
				ng-required="field.required"
				ng-minlength="field.minLength"
				ng-maxlength="field.maxLength"
				ng-switch-when="email"
			>
			<textarea
				tabindex="1"
				ng-model="model[field.name]"
				ng-attr-id="{{field.name}}"
				ng-attr-name="{{field.name}}"
				ng-attr-type="{{field.type}}"
				ng-attr-placeholder="{{field.placeholder}}"
				ng-minlength="field.minLength"
				ng-maxlength="field.maxLength"
				ng-required="field.required"
				ng-switch-when="textarea"
				ng-class="{
					'hasChar' : $parent.$$childHead[form.name][field.name].$viewValue
				}"
			></textarea>
			<fieldset
				ng-switch-when="radio"
			>
				<legend>
					<span>{{field.label}}</span>
				</legend>
				<ul>
					<li ng-repeat="set in field.set track by $index">
						<label
							ng-attr-for="{{set.name}}"
							ng-class="{
								'forRadio' : field.type === 'radio'
							}"
						>{{set.label}}</label>
						<input
							tabindex="1"
							ng-model="model[field.name]"
							ng-attr-id="{{set.name}}"
							ng-attr-name="{{field.name}}"
							ng-attr-value="{{set.value}}"
							ng-attr-type="{{field.type}}"
						>
					</li>
				</ul>
			</fieldset>
			<span class="required"
				ng-if="field.required"
				ng-class="{
					'isValid' : $parent.$$childHead[form.name][field.name].$valid
				}"
			><i class="fa"
				ng-class="{
					'fa-exclamation-circle' : $parent.$$childHead[form.name][field.name].$invalid,
					'fa-check' : $parent.$$childHead[form.name][field.name].$valid
				}"
			></i><span>{{message.required}}</span></span>
			<p
				class="charCount"
				ng-class="{
					'isValid' : $parent.$$childHead[form.name][field.name].$valid,
					'isOver' : $parent.$$childHead[form.name][field.name].$viewValue.length > field.maxLength
				}"
				ng-if="field.type === 'textarea' && $parent.$$childHead[form.name][field.name].$viewValue"
			>{{$parent.$$childHead[form.name][field.name].$viewValue.length}} / {{field.maxLength}}</p>
		</li>
	</ul>
	<button
		type="submit"
		tabindex="1"
		ng-disabled="$parent.$$childHead[form.name].$invalid || status.loading"
		ng-class="{
			'isLoading' : loading
		}"
	><i class="fa"
		ng-class="{
			'fa-times' : $parent.$$childHead[form.name].$invalid,
			'fa-paper-plane-o' : !loading && !$parent.$$childHead[form.name].$invalid,
			'ifa-spin fa-circle-o-notch' : loading
		}"
	></i>{{loading ? form.button.loading.name : form.button.submit.name}}</button>
	<button
		type="reset"
		tabindex="1"
		ng-click="reset($event)"
	><i class="fa fa-undo"></i>{{form.button.reset.name}}</button>
</form>
