<form
	novalidate
	class="customForm {{customForm.data.name}}"
	name="{{customForm.data.name}}"
	ng-submit="customForm.control.submit()"
	ng-class="{
		'isLoading' : customForm.loading
	}"
>
	<p>{{customForm.message}}</p>
	<ul>
		<li ng-repeat="field in customForm.data.field track by $index"
			ng-class="{
				'hasError' : $parent.$$childHead[customForm.data.name][field.name].$invalid,
				'forTextarea' : field.type === 'textarea'
			}"
			ng-switch="field.type"
		>
			<label
				ng-attr-for="{{field.name}}"
				ng-if="field.type !== 'radio'"
			>{{field.label}}</label>
			<input
				tabindex="1"
				ng-model="customForm.model[field.name]"
				ng-attr-id="{{field.name}}"
				ng-attr-name="{{field.name}}"
				ng-attr-type="{{field.type}}"
				ng-attr-placeholder="{{field.placeholder}}"
				ng-required="field.required"
				ng-minlength="field.minLength"
				ng-maxlength="field.maxLength"
				ng-switch-when="text"
			>
			<input
				tabindex="1"
				ng-model="customForm.model[field.name]"
				ng-attr-id="{{field.name}}"
				ng-attr-name="{{field.name}}"
				ng-attr-type="{{field.type}}"
				ng-attr-placeholder="{{field.placeholder}}"
				ng-required="field.required"
				ng-minlength="field.minLength"
				ng-maxlength="field.maxLength"
				ng-switch-when="email"
			>
			<textarea
				tabindex="1"
				ng-model="customForm.model[field.name]"
				ng-attr-id="{{field.name}}"
				ng-attr-name="{{field.name}}"
				ng-attr-type="{{field.type}}"
				ng-attr-placeholder="{{field.placeholder}}"
				ng-attr-maxlength="{{field.maxLength + 1}}"
				ng-minlength="field.minLength"
				ng-maxlength="field.maxLength"
				ng-required="field.required"
				ng-switch-when="textarea"
				ng-class="{
					'hasChar' : $parent.$$childHead[customForm.data.name][field.name].$viewValue
				}"
			></textarea>
			<fieldset
				ng-switch-when="radio"
			>
				<legend>
					<span>{{field.label}}</span>
				</legend>
				<ul>
					<li ng-repeat="set in field.set track by $index">
						<label
							ng-attr-for="{{set.name}}"
							ng-class="{
								'forRadio' : field.type === 'radio'
							}"
						>{{set.label}}</label>
						<input
							tabindex="1"
							ng-model="customForm.model[field.name]"
							ng-attr-id="{{set.name}}"
							ng-attr-name="{{field.name}}"
							ng-attr-value="{{set.value}}"
							ng-attr-type="{{field.type}}"
						>
					</li>
				</ul>
			</fieldset>
			<span class="required"
				ng-if="field.required"
				ng-class="{
					'isValid' : $parent.$$childHead[customForm.data.name][field.name].$valid
				}"
			><i class="fa"
				ng-class="{
					'fa-exclamation-circle' : $parent.$$childHead[customForm.data.name][field.name].$invalid,
					'fa-check' : $parent.$$childHead[customForm.data.name][field.name].$valid
				}"
			></i><span>{{customForm.data.message.required}}</span></span>
			<p
				class="charCount"
				ng-class="{
					'isValid' : $parent.$$childHead[customForm.data.name][field.name].$valid
				}"
				ng-if="field.type === 'textarea' && $parent.$$childHead[customForm.data.name][field.name].$viewValue"
			><span>{{$parent.$$childHead[customForm.data.name][field.name].$viewValue.length}} / {{field.maxLength}}</span></p>
		</li>
	</ul>
	<button
		type="submit"
		tabindex="1"
		ng-disabled="$parent.$$childHead[customForm.data.name].$invalid || customForm.loading"
		ng-class="{
			'isLoading' : customForm.loading
		}"
	><i class="fa"
		ng-class="{
			'fa-times' : $parent.$$childHead[customForm.data.name].$invalid,
			'fa-paper-plane-o' : !customForm.loading && !$parent.$$childHead[customForm.data.name].$invalid,
			'ifa-spin fa-circle-o-notch' : customForm.loading
		}"
	></i>{{customForm.loading ? customForm.data.button.loading.name : customForm.data.button.submit.name}}</button>
	<button
		type="reset"
		tabindex="1"
		ng-click="customForm.control.reset($event)"
	><i class="fa fa-undo"></i>{{customForm.data.button.reset.name}}</button>
</form>
