@import 'styles/fadeIn';
@import 'styles/slide';

[class*='css-transition-'] {
  pointer-events: none;
  transition-property: none;
  transition-duration: $speed;
  transition-timing-function: $easeIn;
}

[class*='css-transition-element'] {
  pointer-events: auto;
}

.css-transition {
  z-index: 1;
}

.css-transition-exit {
  z-index: 0;
}
