@import 'easing';
@import './fadeIn';

[class*='css-transition-'] {
    pointer-events: none;
}

.css-transition {
    z-index: 2;
}

.css-transition-exit {
    z-index: 1;
}

.css-transition-enter-active,
.css-transition-exit-active {
    transition-duration: 1000ms;
    transition-timing-function: $easeOutExpo;
}
