[data-routes="works"] {
  display: grid;
  grid-template-areas: "area";
  grid-template-columns: repeat(21, 1fr);
  min-height: 100vh;
  width: 100vw;

  section[data-routes],
  nav[role="navigation"] {
    grid-area: area;
  }

  section[data-routes] {
    grid-column: 1 / 22;
  }

  nav[role="navigation"] {
    grid-column: 14 / 16;
    position: sticky;
    top: 0;
    z-index: 2;

    @include tablet() {
      grid-column: 11 / 13;
    }

    @include mobile() {
      grid-column: 13 / 15;
    }

    @include narrow() {
      grid-column: 20 / 22;
    }
  }

  > .spinner {
    grid-area: area;
    grid-column: 1 / 22;
    height: 100vh;
    max-height: 100vh;
  }
}
