$backgroundColor: $darkest_white;
$spinnerColor: $darkest_grey;

[data-current-routes^=work] {
  background: $backgroundColor;
}

[data-routes^=work] {
  background: $backgroundColor;
  
  .loader,
  .errors {
    position: absolute;
    top: 0;
  }

  .loader {
    color: $spinnerColor;
  }
}

:export {
  leftColor: $backgroundColor;
  rightColor: $backgroundColor;
}