$backgroundColor: $darkest_white;

[data-current-routes^=work] {
  background: $backgroundColor;
}

[data-routes^=work] {
  background: $backgroundColor;
}

:export {
  leftColor: $backgroundColor;
  rightColor: $backgroundColor;
}