@import '_import';

.globalHeader {
	@include set-transition(background-color, opacity, transform);

	@include display(flex);
	@include flex-direction(column);
	@include align-items(center);

	background-color: $white;
	border: 1px solid transparent;
	border-bottom-color: $grey;
	padding: rem($space) rem($gutter);

	@include mobile () {
		@include flex-direction(row);
	}

	.logo {
		@include set-transition(opacity);

		@include largemobile () {
			@include set-logo-content(true);
		}

		@include mobile () {
			@include set-logo-size(1.26);
		}
	}

	.navigation {
		@include set-transition(margin-top, opacity);

		margin-top: rem($gutter);

		li {
			+ li {
				border-left-color: $grey;
			}
		}

		@include mobile () {
			margin-left: rem($gutter);
			margin-top: 0;
		}
	}

	&.isScrolled {
		.logo {
			@include opacity(0);

			@include through();
		}

		.navigation {
			margin-top: 0;
		}
	}

	&.ng-hide-add {
		@include transform(translate3d(0, 0, 0));
		
		@include opacity(1);

		&.ng-hide-add-active {
			@include transform(translate3d(0, -100%, 0));

			@include opacity(0);
		}
	}

	&.ng-hide-remove {
		@include transform(translate3d(0, -100%, 0));

		@include opacity(0);

		&.ng-hide-remove-active {
			@include transform(translate3d(0, 0, 0));

			@include opacity(1);
		}
	}
}