@import '_import';

.globalHeader {
	$min-size : $min-grid + $gutter * 2;

	@include display(flex);
	@include flex-direction(column);

	@include set-transition(background-color, box-shadow, height, width);

	height: 100%;
	position: fixed;

	will-change: background-color, box-shadow, height, width;

	.breadcrumb,
	.navigation {
		@include set-transition(transform, opacity);
		
		will-change: transform, opacity;
	}

	.logo {
		@include order(1);
	}

	.breadcrumb {
		@include order(2);
	}

	.navigation {
		@include order(3);
		text-align: center;
	}

	.toggle {
		position: absolute;
		top: 0;

		will-change: height, width;
	}

	&.isExpanded {
		background-color: $white;
		box-shadow: $shadow-right;

		.logo,
		.breadcrumb,
		.navigation {
			@include transition-delay($speed);
		}

		.toggle {
			left: 100%;
			height: 100vh;
			width: 100vw;
			z-index: -1;
		}

		@include mobile() {
			width: calc(50% - #{$min-size});
		}

		@include tablet() {
			width: calc(40% - #{$min-size});
		}

		@include desktop() {
			width: calc(30% - #{$min-size});
		}

		@include largedesktop() {
			width: calc(20% - #{$min-size});
		}

		@include largestdesktop() {
			width: calc(20% - #{$min-size});
		}
	}

	&:not(.isExpanded) {
		@include transition-delay($speed);

		width: 0;

		.breadcrumb,
		.navigation {
			@include transform(translateY(25vh));
			@include opacity(0);
		}

		.toggle {
			@include opacity(0);

			height: $min-size;
			width: $min-size;
			left: 0%;
		}
	}
}