<header
	class="globalHeader"
	role="banner"
	ng-class="{
		'isExpanded' : globalHeader.status.expanded
	}"
>
	<logo
		ng-class="{
			'square' : !globalHeader.status.expanded
		}"
	></logo>
	<navigation data-list-at-root="true" data-list="root"></navigation>
	<breadcrumb></breadcrumb>
	<button
		class="toggle"
		ng-attr-title="{{globalHeader.closeButton[
			globalHeader.status.expanded ? 'collapse' : 'expand'
		].message}}"
		ng-click="globalHeader.control.troggle()"
	>{{globalHeader.closeButton.message}}</button>
</header>
