@import '_import';

.globalHeader {
	@include set-transition(background-color, box-shadow, transform);

	@include display(flex);
	@include flex-direction(column);
	@include justify-content(center);
	@include align-items(center);

	background-color: $white;
	border: 1px solid transparent;
	border-bottom-color: $grey;
	padding: rem($space) rem($gutter);

	@include mobile() {
		@include flex-direction(row);
		@include justify-content(space-between);

		@include box-shadow($shadow-center);

		background-color: $white;
		padding: rem($space) rem($gutter);
	}

	.logo {
		@include mobile() {
			@include set-logo-size(1.28);
			@include set-logo-content(true);
		}
	}

	.navigation {
		padding: rem($space) rem($gutter) 0;

		@include mobile() {
			font-size: .8rem;
			padding: rem($space) 0 rem($space) rem($space);
		}
	}

	&.isScrolled {
		@include box-shadow($shadow-bottom);

		background-color: $dark_white;

		@include mobile() {
			@include box-shadow($shadow-center);
		}

		.logo {
			@include opacity(0);

			@include through();
		}

		.navigation {
			padding-top: 0;
		}
	}

	&.ng-hide-add {
		@include transform(translate3d(0, 0, 0));

		&.ng-hide-add-active {
			@include transform(translate3d(0, -100%, 0));
		}
	}

	&.ng-hide-remove {
		@include transition-delay($speed);

		@include transform(translate3d(0, -100%, 0));

		&.ng-hide-remove-active {
			@include transform(translate3d(0, 0, 0));
		}
	}
}

