$css-transition: get($component-css-transition, 'default');
$style: get($component-css-transition-slide-up, 'default');
$appear: get($component-css-transition, 'appear.default');
$appear-active: get($component-css-transition, 'appear.active');
$enter: get($component-css-transition, 'enter.default');
$enter-active: get($component-css-transition, 'enter.active');
$exit: get($component-css-transition, 'exit.default');
$exit-active: get($component-css-transition, 'exit.active');
$exit-done: get($component-css-transition, 'exit.done');

.#{$css-transition}.#{$style} {
  transition-property: transform;
  will-change: transform;

  &.#{$appear}:not(.#{$appear-active}),
  &.#{$enter}:not(.#{$enter-active}),
  &.#{$exit}.#{$exit-active},
  &.#{$exit-done} {
    transform: translate3d(0, 100%, 0);

    &::before {
      opacity: 0;
    }
  }
}
