@import 'import';

.GlobalFooter {
  @include display-flex();
  @include align-items(stretch);
  @include rem(padding, $grid);
  @include transition-property(transform);
  @include transition-duration($fast);
  @include transition-timing-function($easing);

  background-color: $white;
  border-top: 1px solid $lighter_grey;
  position: relative;
  width: 100vw;

  .Navigation {
    @include set-font-size(1.5);

    text-transform: uppercase;

    a {
      font-family: $bold_font_family;
    }
  }

  &.isInactive {
    @include transform(translate3d(0, 100%, 0));

    pointer-events: none;
  }
}
