@import '_import';

@import '../../component/fonts/_fonts.scss';

@import '../../../component/logo/_logo';

$logo_size: grid-size(3);
$logo_size_mobile: grid-size(2);
$logo_space: grid-size(.6);
$logo_border_size: 3px;

$nav_size: grid_size($tablet_size);
$nav_size_mobile: grid_size($largemobile_size);

[data-content-name='index.content'] {
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);

  width: 100%;

  .logo {
    @include set_square_logo($logo_size);

    height: $logo_size;
    position: relative;
    width: $logo_size;

    &:before,
    &:after {
      @include content();

      padding-top: 100%;
    }

    &:before {
      position: relative;
      width: 100%;
      z-index: 1;
    }

    &:after {
      @include transform(translate3d(-50%, -50%, 0));
      @include calc(height, '100% + #{$logo_space * 2}');
      @include calc(width, '100% + #{$logo_space * 2}');

      border: $logo_border_size solid $black;
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
    }

    a {
      height: $logo_size;
      left: 0;
      position: absolute;
      top: 0;
      width: $logo_size;
      z-index: 2;
    }

    @include largemobile() {
      height: $logo_size_mobile;
      width: $logo_size_mobile;

      @include set_square_logo($logo_size_mobile);
    }
  }

  .navigation {
    margin-top: grid-size(1);
    width: $nav_size;

    ul {
      @include display(flex);
      @include justify-content(space-around);

      width: $nav_size;
    }

    li {
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);

      @include flex-grow(1);
      @include flex-basis(0);

      + li {
        margin-left: 0;
      }
    }

    @include largemobile() {
      width: $nav_size_mobile;
    }
  }
}

