@import '_import';

@mixin set-project ($projectId, $background-color, $text-color) {
	main {
		&[data-route^=projects] {
			> div {
				@include set-transition(background-color, color);
			}
		}

		[data-api='behance.projects'] {
			a {
				&[href*='#{$projectId}'] {
					border-color: $background-color;

					&:after {
						background-color: $background-color;
					}
				}
			}
		}
	}

	[data-project-current-id='#{$projectId}'] {
		color: $text-color;

		a {
			color: $text-color;

			&:hover {
				color: invert($background-color);
			}
		}

		.isCurrent {
			a {
				color: invert($background-color);
			}
		}

		main {
			> div {
				background-color: $background-color;
				color: $text-color;
			}
		}
	}
}