@import '_import';

@mixin set-project ($projectId, $background-color, $text-color) {
	main {
		[data-api='behance.projects'] {
			a {
				&[href*='#{$projectId}'] {
					&:after {
						background-color: $background-color;
					}
				}
			}
		}
	}

	[data-project-current-id='#{$projectId}'] {
		color: $text-color;

		.globalHeader {
			&.isScrolled {
				background-color: $background-color;
				padding: 0;
			}
		}
		
		.projectsWrapper {
			background-color: $background-color;
			color: $text-color;
		}

		a {
			color: $text-color;

			&:hover {
				color: invert($background-color);
			}
		}

		.isCurrent {
			a {
				color: invert($background-color);
			}
		}

		.cursor {
			.message {
				color: $text-color;
			}

			.frame,
			.arrow {
				fill: $text-color;
			}
		}
	}
}