<h1
	ng-show="$root.status.route === 'projects'"
>{{name}}</h1>
<throbber data-emit-from="behance.projects" data-show-on-default="true"></throbber>
<section ui-view="project"></section>
<div>
<behance-projects class="isShadow" data-projects-route="projects"
    ng-style="{
        '-moz-transform' : 'rotateX(' + (-1 * style.rotateX) + 'deg) rotateY(' + (-1 * style.rotateY) + 'deg) rotateZ(' + (-1 * style.rotateZ) + 'deg)',
        '-ms-transform' : 'rotateX(' + (-1 * style.rotateX) + 'deg) rotateY(' + (-1 * style.rotateY) + 'deg) rotateZ(' + (-1 * style.rotateZ) + 'deg)',
        '-o-transform' : 'rotateX(' + (-1 * style.rotateX) + 'deg) rotateY(' + (-1 * style.rotateY) + 'deg) rotateZ(' + (-1 * style.rotateZ) + 'deg)',
        'transform' : 'rotateX(' + (-1 * style.rotateX) + 'deg) rotateY(' + (-1 * style.rotateY) + 'deg) rotateZ(' + (-1 * style.rotateZ) + 'deg)'
    }"
></behance-projects>
<behance-projects data-projects-route="projects"
    ng-style="{
        '-moz-transform' : 'rotateX(' + style.rotateX + 'deg) rotateY(' + style.rotateY + 'deg) rotateZ(' + style.rotateZ + 'deg)',
        '-ms-transform' : 'rotateX(' + style.rotateX + 'deg) rotateY(' + style.rotateY + 'deg) rotateZ(' + style.rotateZ + 'deg)',
        '-o-transform' : 'rotateX(' + style.rotateX + 'deg) rotateY(' + style.rotateY + 'deg) rotateZ(' + style.rotateZ + 'deg)',
        'transform' : 'rotateX(' + style.rotateX + 'deg) rotateY(' + style.rotateY + 'deg) rotateZ(' + style.rotateZ + 'deg)'
    }"
></behance-projects>
</div>