@import '_import';

main {
	&[data-route^=projects] {
		overflow: hidden;

		> div {
			@include set-transition(background-color, border-radius, color, height, margin, width);

			@include display(flex);
			@include justify-content(center);

			border-radius: rem(5);
			height: calc(100vh - #{rem($gutter) * 2});
			margin: rem($gutter);
			position: absolute;
			top: 0;
			width: calc(100% - #{rem($gutter) * 2});
		}

		[data-api='behance.projects'] {
			@include display(flex);

			height: 100%;
			position: relative;
			width: 50%;

			figure {
				@include display(flex);
				@include flex-direction(column);
				@include align-items(center);
				@include justify-content(center);

				height: 100%;
				width: 100%;
			}

			figcaption {
				@include set-transition(opacity, transform);
				@include transition-duration($fast);
				@include transition-timing-function($ease-out-back);

				@include through();

				margin-top: rem($gutter);
				position: absolute;
				text-align: center;
				width: 100%;
			}

			a {
				@include set-transition(background-color, border-color, border-width, transform);
				@include transition-duration($fast);
				@include transition-timing-function($ease-out-back);

				@include circle(grid-size(3));

				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				border: 1px dashed $light_grey;
				position: relative;

				&:after {
					@include set-transition(opacity);

					@include opacity(0);

					background-color: $white;
					content: '\0020';
					display: block;
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 100%;
				}
			}

			img {
				@include hidden();
			}

			li {
				@include set-transition(transform);

				@include transform(scale3d(1.2, 1.2, 1.2));

				height: 100%;
				min-width: 100%;
				z-index: 1;

				figcaption {
					@include transform(translate3d(0, grid_size(.5), 0));
				}

				&:not(.isPrev):not(.isNext) {
					z-index: 2;
					
					a {
						border-width: 5px;
					}
				}
			}

			.isPrev,
			.isNext {
				@include transform(scale3d(1, 1, 1));

				a {
					@include through();

					&:after {
						@include opacity(1);
					}
				}

				figcaption {
					@include opacity(0);
				}

				&:not(:hover) {
					a {
						background-image: url(#{$transparent_base64}) !important;
					}
				}

				&:hover {
					a {
						&:after {
							@include opacity(0);
						}
					}
				}
			}
		}
	}
}