@import '_import';

html {
	&[data-route=home] {
		.globalFooter {
			color: $white;

			> .breadcrumb {
				border-top: 0;
			}
		}
	}
}

main {
	&[data-route=home] {
		color: $white;

		&:before {
			@include opacity(1);

			background-image: url(#{$image_path}room.bw.jpg);
		}

		&.ng-leave-active {
			&:before {
				@include transform(scale(2.5));
			}
		}

		@include largedesktop() {
			left: 0;
			margin-left: auto;
		}

		@include largestdesktop() {
			left: 0;
			margin-left: auto;
		}

		.globalHeader {
			border-bottom: 0;
		}

		.logo {
			@include set-logo-size(1.6);
			@include through();

			a {
				color: $white;
			}

			@include desktop() {
				@include set-logo-size(2);
			}
		}
		
		[data-api='behance.user.about'] {
			margin-bottom: $space;
			max-width: screen-size($tablet-size);
			padding: 0 $gutter;
			text-align: center;
		}

		.navigation {
			li {
				border-left-color: $white;
			}
		}
	}
}