@import '_import';

[data-route=home] {
	.globalHeader {
		@include unset-transition();
	}
}

main {
	&[data-route=home] {
		@include display(flex);
		@include flex-direction(column);
		@include justify-content(center);

		height: 100vh;
		overflow: hidden;
		padding-top: 0;

		.background,
		.overground {
			@include circle(grid-size(5));

			@include unset-transition();

			@include transform(translate3d(-50%, -50%, 0));

			left: 50%;
			position: absolute;
			top: 50%;
			z-index: 0;

			@include largemobile {
				@include unset-circle();

				height: 100%;
				width: 100%;
			}
		}

		.logo,
		.navigation {
			position: relative;
			z-index: 1;
		}

		.background {
			@include box-shadow($shadow-bottom);

			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}

		.overground {
			background-color: rgba($black, .1);
			background-image: url('#{$image_path}pattern/half.tone.png');
			background-position: center;
			background-repeat: repeat;
		}

		.logo {
			@include set-logo-color($white);

			text-shadow: 0 0 5px $black;

			@include largemobile () {
				margin-top: (-1 * grid-size(1));
			}
		}

		.navigation {
			@include set-font-size(1.6);

			margin-top: rem($gutter);

			&.isVertical {
				li {
					+ li {
						margin-top: 0;
					}
				}
			}

			a {
				@include set-transition(transform);
				@include transition-duration($faster);

				text-shadow: 0 0 5px $black;

				color: $white;
				font-family: $heading_font_family;

				&:hover {
					@include transform(scale(1.2));
				}
			}
		}

		&.ng-animate {
			@include set-transition(opacity, transform);
			@include transition-duration($slow);

			.logo,
			.navigation {
				@include set-transition(transform, opacity);
			}
		}

		&.ng-enter {
			@include transform(scale(2) rotate(270deg));

			@include largemobile () {
				@include transform(scale(2));
			}

			.logo,
			.navigation {
				@include transition-delay($speed);
				@include opacity(0);
			}

			.logo {
				@include transform(scale(.7) translate3d(0, rem($gutter), 0));
			}

			.navigation {
				@include transform(scale(.7) translate3d(0, rem(-1 * $gutter), 0));
			}

			&.ng-enter-active {
				@include transform(scale(1) rotate(0deg));

				.logo,
				.navigation {
					@include transform(scale(1) translate3d(0, 0, 0));
					@include opacity(1);
				}
			}
		}

		&.ng-leave {
			@include transform(scale(1));

			&.ng-leave-active {
				@include transform(scale(.01) rotate(270deg));

				@include largemobile () {
					@include transform(scale(.9));
				}

				.logo,
				.navigation {
					@include opacity(0);
				}

				.logo {
					@include transform(translate3d(0, rem($gutter), 0) scale(.5));
				}

				.navigation {
					@include transform(translate3d(0, rem(-1 * $gutter), 0) scale(.5));
				}
			}
		}
	}
}

