@import '_import';

html[data-route=home] {
	@include align-items(center);
	@include justify-content(center);

	background-image: url(/asset/image/room.bw.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.logo,
	.navigation {
		text-transform: uppercase;
	}

	.breadcrumb,
	footer {
		@include hidden();
	}
}