@import '_import';

[data-route^='index'] {
	overflow: hidden;

	header[role=banner],
	footer[role=contentinfo] {
		@include through();
	}

	header[role=banner] {
		@include transform(translate3d(0, -100%, 0));
	}

	footer[role=contentinfo] {
		@include transform(translate3d(0, 100%, 0));
	}
}

[data-view='index'] {
	@include align-items(center);
	@include justify-content(center);

	height: 100vh;
	max-height: 100vh;
	padding: 0;
	width: 100%;

	header[role=banner],
	footer[role=contentinfo] {
		@include opacity(0);
		@include through();
	}
}