$default_font: sans-serif;
$font_family: omnes-pro, $default_font;
$heading_font_family: acumin-pro-extra-condensed, $default_font;
$font_size: 18px;
$line_height: 1.4;

$font_weight: 300;
$a_isCurrent_font_weight: 400;
$thick_font_weight: 500;
$thicker_font_weight: 700;

@mixin font-smoothing($value: antialiased) {
	@if $value == antialiased {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	@else {
		-webkit-font-smoothing: subpixel-antialiased;
		-moz-osx-font-smoothing: auto;
	}
}