$min-grid: 2rem;
$grid: $min-grid * 2;
$gutter: $min-grid / 2;
$space: $gutter / 2;

$narrow-size: 360px;
$mobile-size: 480px;
$tablet-size: 740px;
$desktop-size: 980px;
$wide-size: 1300px;

// Configuration
$mq-responsive: true;
$mq-static-breakpoint: desktop;
$mq-breakpoints: (
    narrow: $narrow-size,
    mobile: $mobile-size,
    tablet: $tablet-size,
    desktop: $desktop-size,
    wide: $wide-size
);

@import '../../../../node_modules/sass-mq';

@mixin landscape ($props...) {
    @include mq($props, $and: '(orientation: landscape)') {
        @content;
    }
}

@mixin portrait ($props...) {
    @include mq($props, $and: '(orientation: portrait)') {
        @content;
    }
}

@mixin narrower() {
    @include mq($until: narrow) {
        @content;
    }
}

@mixin narrow() {
    @include mq($until: mobile) {
        @content;
    }
}

@mixin mobile() {
    @include mq($until: tablet) {
        @content;
    }
}

@mixin tablet() {
    @include mq($until: desktop) {
        @content;
    }
}

@mixin desktop() {
    @include mq($until: wide) {
        @content;
    }
}

@mixin wide() {
    @include mq($from: wide) {
        @content;
    }
}
