@import 'value';

$default: get($component-hidden, 'default');

[data-component="#{$default}"],
[data-component].#{$default} {
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
  width: 0;
}
