$default: get($component-button, 'default');

$css-transition: get($component-css-transition, 'default');
$appear: get($component-css-transition, 'appear.default');
$appear-active: get($component-css-transition, 'appear.active');
$enter: get($component-css-transition, 'enter.default');
$enter-active: get($component-css-transition, 'enter.active');
$exit: get($component-css-transition, 'exit.default');
$exit-active: get($component-css-transition, 'exit.active');
$exit-done: get($component-css-transition, 'exit.active');

[data-component="#{$default}"] {
  &[type='submit'] {
    background-color: $green;
    color: get($black, 'default');
  }

  &[type='reset'] {
    background-color: get($grey, 'darkest');
    color: $red;
  }
}
