@import '_import';

$background_color: $white;
$border_color: $grey;

.globalHeader {
	@include display(flex);
	@include align-items(stretch);
	
	position: fixed;

	.logo,
	button,
	nav {
		position: relative;
	}

	.logo,
	button,
	nav ul {
		padding: $gutter;
	}

	.logo,
	nav,
	button {
		background-color: $background_color;
	}

	.logo,
	button {
		z-index: 2;
	}

	.logo {
		border-right: 1px solid $border_color;
	}

	button {
		box-sizing: content-box;

		&:before {
			@include set-transition(backgroun-image);

			@include content();

			background-image: transparent;

			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}

	nav {
		@include set-transition(opacity $fast, transform $fast);

		border-left: 1px solid $border_color;
		height: 100%;
		position: absolute;
		z-index: 1;

		ul {
			@include half-tone($red);
		}
	}

	&.menuCollapsed {
		nav {
			@include transform(translate3d(-100%, 0, 0));
			@include opacity(0);
		}
	}

	@include largemobile() {
		margin: 0;
		width: 100%;

		.logo,
		button {
			background-color: transparent;
		}

		&:before {
			@include content();

			background-color: $background_color;
			border-bottom: 1px solid $border_color;
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 2;
		}

		.logo {
			border-left: 1px solid $border_color;
			border-right: 0;
			order: 2;
		}

		button {
			border-left: 0;
			border-right: 1px solid $border_color;
			order: 1;
		}

		nav {
			@include opacity(1);

			height: 100vh;
			left: 0;
			order: 3;
			position: fixed;
			top: 0;
			width: 100%;

			ul {
				@include set-transition(transform $fast);
				@include flex-direction(column);
				@include align-items(center);
				@include justify-content(center);
			}

			li {
				font-size: 2rem;

				+ li {
					margin-left: 0;
					margin-top: $gutter;
				}
			}
		}

		&.menuCollapsed {
			nav {
				@include transform(translate3d(0, 0, 0));

				@include through();

				ul {
					@include transform(scale(1.1, 1.1));
				}
			}
		}
	}
}