header[rule='banner'] {
    background-color: $yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 13rem;
    position: relative;
    width: 13rem;

    h1 {
        margin-left: $gutter;
        margin-top: $gutter;
    }

    nav {
        flex-direction: column;
        font-family: $heading_font_family;
        font-size: 2rem;
        font-weight: 600;
        line-height: 2rem;
        padding-bottom: $gutter;
        padding-left: $gutter;
        text-transform: uppercase;

        a + a {
            margin-left: 0;
            margin-top: $gutter;
        }
    }

    canvas {
        left: 0;
        position: absolute;
        top: 0;
    }

    // @include mobile {
    //     align-items: flex-start;
    //     background-color: transparent;
    //     flex-direction: column;
    //     justify-content: flex-start;
    //     height: inherit;
    //     position: fixed;
    //     width: inherit;
    //     z-index: 2;

    //     ~ * {
    //         position: relative;
    //         z-index: 1;
    //     }

    //     h1,
    //     nav {
    //         left: 0;
    //         top: 0;
    //     }

    //     &:before,
    //     nav {
    //         transition-timing-function: $ease;
    //         transform: translate3d(-100vw, 0, 0);
    //     }

    //     &:before {
    //         background: rgba($pitch_black, .4);
    //         content: '\0020';
    //         display: block;
    //         height: 100vh;
    //         left: 0;
    //         opacity: 0;
    //         position: absolute;
    //         pointer-events: none;
    //         touch-action: none;
    //         transition-property: opacity;
    //         transition-duration: $fast;
    //         top: 0;
    //         width: 100vw;
    //     }

    //     nav,
    //     nav a {
    //         transition-property: transform;
    //     }

    //     h1 {
    //         pointer-events: none;
    //         position: relative;
    //         transition-property: transform, width;
    //         transition-duration: $fast;
    //         z-index: 2;
    //     }

    //     nav {
    //         background-color: $dark_white;
    //         flex-direction: column;
    //         font-size: 2rem;
    //         height: 100vh;
    //         letter-spacing: .1rem;
    //         overflow: hidden;
    //         padding-left: $space;
    //         padding-top: $min-grid * 2;
    //         position: absolute;
    //         transition-duration: $speed;
    //         width: 50vw;
    //         z-index: 1;

    //         a {
    //             transform: translate3d(30vw, 0, 0);
    //             transition-duration: $slow;
    //         }

    //         a + a {
    //             margin-top: $gutter;
    //             margin-left: 0;
    //         }
    //     }

    //     &:hover,
    //     &:active {
    //         &:before,
    //         nav,
    //         nav a {
    //             transform: translate3d(0, 0, 0);
    //         }

    //         &:before {
    //             opacity: 1;
    //         }

    //         h1 {
    //             transform: rotate(90deg);
    //         }

    //         nav {
    //             @include shadow-right();
    //         }
    //     }
    // }

    // @include narrower() {
    //     nav {
    //         width: 75vw;
    //     }
    // }
}