$default: get($view-contact-cta, 'default');

[data-view-component="#{$default}"] {
  display: grid;
  grid-template-areas: 'submit submit reset';
  grid-template-columns: auto;
  grid-template-rows: auto;

  @include tablet() {
    grid-template-areas: 'submit reset';
  }

  [type='submit'],
  [type='reset'] {
    @include shadow-top();

    bottom: 0;
    height: 100%;
    position: sticky;
  }

  [type='submit'] {
    background-color: $green;
    color: get($black, 'default');
    grid-area: submit;
  }

  [type='reset'] {
    background-color: get($grey, 'darkest');
    color: $red;
    grid-area: reset;
  }
}
