$default: get($view-contact-cta, 'default');

[data-view-component="#{$default}"] {
  [type='submit'],
  [type='reset'] {
    bottom: 0;
    height: 100%;
    position: sticky;
  }

  [type='submit'] {
    background-color: $green;
    color: get($black, 'default');
  }

  [type='reset'] {
    background-color: get($grey, 'darkest');
    color: $red;
  }
}
