$spinnerBackground: $dark_white;
$spinnerColor: $darkest_white;
$size: 3rem;

.loader {
  display: flex;
  align-items: center;
  justify-content: center;

  color: $spinnerColor;
  font-family: $font_family;
  font-size: $size;
  height: 100%;
  position: relative;
  width: 100%;

  span {
    position: relative;
  }

  .spinner {
    animation-name: loader-animation;
    animation-duration: $slow;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    &:first-child {
      animation-name: loader-background-animation;

      color: $spinnerBackground;
    }

    &:last-child {
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .text {
    margin-left: $gutter;
  }
}

@keyframes loader-background-animation {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes loader-animation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

:export {
  maxFontSize: $size;
}
