<div
	class='customFormDialog'
	ng-show='resource && show'
>
	<div class='wrapper'>
		<div class='success'
			ng-if='success'
		>
			<h1>{{resource.success.title}}</h1>
			<p ng-repeat='message in resource.success.message track by $index'>{{message}}</p>
			<h2>{{resource.success.report.title}}</h2>
			<ul class='report'>
				<li
					ng-repeat='(name, value) in model track by $index'
					ng-attr-data-report-name='{{name}}'
				>
					<h3>{{name}}</h3>
					<p>{{value}}</p>
				</li>
			</ul>
		</div>

		<div class='error'
			ng-if='error'
		>
			<h1>{{resource.error.title}}</h1>
			<p ng-repeat='message in resource.error.message track by $index'>{{message}}</p>
			<h2>{{resource.error.report.title}}</h2>
			<ul class='report'>
				<li data-report-name='status'>
					<h3>{{resource.error.report.status.title}}</h3>
					<p>{{error.status}}</p>
				</li>
				<li data-report-name='message'>
					<h3>{{resource.error.report.message.title}}</h3>
					<p>{{error.messages}}</p>
				</li>
			</ul>
		</div>
	</div>

	<button class='close' ng-click="close()" ng-attr-title="{{resource.button.close.message}}">
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
			<line fill="none" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="21.4" y1="42.6" x2="42.6" y2="21.4"></line>
			<line fill="none" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="21.4" y1="21.4" x2="42.6" y2="42.6"></line>
		</svg>

		<span>{{resource.button.close.message}}</span>
	</button>
</div>