[data-routes="works"] {
  nav {
    display: grid;
    justify-content: stretch;

    ul {
      justify-content: unset;
      padding: 20vh 0;
      grid-gap: 20vh;
      justify-items: center;
    }
  }
}
