$gap: 20vh;

[data-routes="works"] {
  nav {
    display: grid;
    padding: 20vh 0;

    ul {
      justify-content: unset;
      grid-gap: 20vh;
      justify-items: center;
    }
  }
}

:export {
  gap: $gap;
}
