@import '_import';

.globalHeader,
main,
.globalFooter {
	width: 100%;
}

body {
	background-color: $white;
}

.globalHeader {
	position: fixed;
	z-index: 4;
}

.globalFooter {
	position: absolute;
	bottom: 0;
	z-index: 4;
}