@import '_import';

html {
	@include set-transition(background-color, background-image);
	
	background-color: $white;
}

body {
	position: relative;
}

.globalHeader,
.breadcrumb,
main,
.globalFooter {
	width: 100%;
}

.breadcrumb,
.globalHeader {
	position: fixed;
}

.overflowBackground {
	z-index: 1;
}

.globalHeader {
	z-index: 4;
}

.breadcrumb {
	z-index: 3;
}

main {
	position: relative;
	z-index: 2;
}

.globalFooter {
	bottom: 0;
	position: absolute;
	z-index: 4;
}