@import '_import';

$logo-kicl-square: "\e600";
$logo-kicl: "\e601";

@font-face {
	font-family: 'kicl';
	src:url('../fonts/kicl.eot?1g05q6');
	src:url('../fonts/kicl.eot?#iefix1g05q6') format('embedded-opentype'),
		url('../fonts/kicl.ttf?1g05q6') format('truetype'),
		url('../fonts/kicl.woff?1g05q6') format('woff'),
		url('../fonts/kicl.svg?1g05q6#kicl') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin set-logo-icon-family () {
	@include set-font-size(4);

	font-family: 'kicl';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.logo {
	a {
		@include set-logo-icon-family();

		&:before {
			content: $logo-kicl;
		}

		&.square {
			&:before {
				content: $logo-kicl-square;
			}
		}
	}
	
	span {
		@include hidden();
	}
}