@import '_import';

.logo {
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);

	@include set-logo-size();
	@include set-logo-content();

	margin-bottom: 0;
	padding: rem($space);

	a {
		color: $darker_grey;
		font-family: 'kicl';
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		letter-spacing: 0;
		line-height: 1;
		text-transform: none;
		speak: none;

		&:before {
			display: block;
			text-align: center;
		}

		&:hover {
			color: $green;
		}
	}
	
	span {
		@include hidden();
	}
}