@import '_import';

@font-face {
	font-family: 'kicl';
	src:url('../fonts/kicl.eot?1g05q6');
	src:url('../fonts/kicl.eot?#iefix1g05q6') format('embedded-opentype'),
		url('../fonts/kicl.ttf?1g05q6') format('truetype'),
		url('../fonts/kicl.woff?1g05q6') format('woff'),
		url('../fonts/kicl.svg?1g05q6#kicl') format('svg');
	font-weight: normal;
	font-style: normal;
}

.logo {
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);

	@include set-logo-size();
	@include set-logo-content();

	margin-bottom: 0;
	padding: $space;

	a {
		color: $darker_grey;
		font-family: 'kicl';
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		letter-spacing: 0;
		line-height: 1;
		text-transform: none;
		speak: none;

		&:before {
			display: block;
			text-align: center;
		}

		&:hover {
			color: $green;
		}
	}
	
	span {
		@include hidden();
	}

	@include mobile() {
		@include set-logo-content(true);
	}
}