@import '_import';

@import '../fonts/_fonts.scss';

$font_size: 2rem;

@mixin set_square_logo ($new_size) {
	a {
		width: $new_size * 1.03;
		
		&:before {
			@include content($kicl-square);
		}
	}
}

@mixin set_logo_size ($new_size) {
	a {
		font-size: $new_size;
		height: $new_size;
		width: $new_size * 2.4;
	}

	@include largemobile() {
		@include set_square_logo($new_size);
	}
}

@mixin set_logo_color ($new_color) {
	a {
		&:before {
			color: $new_color;
		}
	}
}