<h1 className={
        classNames({
            logo : true,
            isSquared : this.props.isSquared
        })
    }

    onMouseOver={this.props.onMouseOver}
    onTouchStart={this.props.onTouchStart}

    onMouseOut={this.props.onMouseOut}
    onTouchCancel={this.props.onTouchCancel}
>
    <ReactRouter.Link
        to={this.props.route || this.state.resource.route}
        title={`${this.state.siteName} | ${this.props.name || this.state.resource.name}`}
        activeClassName='isCurrent'

        onClick={this.props.onClick}
    >{this.props.name || this.state.resource.name}</ReactRouter.Link>
</h1>