@import '_import';

@import '_Logo';

$font_size: 2rem;

.logo {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);

  @include set_logo_color($black);
  @include set_logo_size($font_size);

  a {
    @include transition(font-size, height, width);
    @include transition-duration($fast);
    @include transition-timing-function($ease);

    @include display(flex);

    color: transparent;
    overflow: hidden;

    &:before {
      @include transition-property(color);
      @include transition-duration($fast);
      @include transition-timing-function($ease);

      @include content($kicl);

      display: block;
      font-family: $kicl_font_name;
      letter-spacing: 0rem;
    }

    &.isCurrent {
      pointer-events: none;
    }
  }

  &.isSquared {
    @include make_logo_square($font_size);
  }

  @include largemobile() {
    @include make_logo_square($font_size);
  }
}