@import 'fonts/kicl/fonts';

.logo {
  font-size: $logo-size;
  overflow: hidden;
  position: relative;
  width: $logo-width;

  &:before {
    color: $light_black;
    content: $kicl;
    display: block;
    font-family: $kicl_font_name;
    position: relative;
    text-indent: 0;
    transition-property: color;
    transition-timing-function: $ease;
    transition-duration: $fast;
    z-index: 1;
  }

  a {
    color: transparent;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  @include mobile () {
    width: $logo-size;
  }
}
