@import 'import';

$font-name: 'kicl';
$font-root: 'Component/Logo/#{$font-name}';

$logo: "\e601";
$logo-square: "\e600";

@font-face {
  font-family: $font-name;
  src: url('#{$font-root}.eot?1g05q6');
  src:
    url('#{$font-root}.eot?#iefix1g05q6') format('embedded-opentype'),
    url('#{$font-root}.ttf?1g05q6') format('truetype'),
    url('#{$font-root}.woff?1g05q6') format('woff'),
    url('#{$font-root}.svg?1g05q6#kicl') format('svg');
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

.logo {
  @include rem(padding, $grid);
  @include set-font-size(2, false);

  font-family: $font-name, sans-serif;
  letter-spacing: 0;
  line-height: 1;
  text-transform: none;
  speak: none;

  a {
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);

    &::before {
      content: $logo;
      display: block;
      text-align: center;
    }

    span {
      @include hidden();
    }
  }

  &.isSquare {
    a {
      &::before {
        content: $logo-square;
      }
    }
  }
}
