@import 'fonts/kicl/fonts.scss';

$size: $min-grid;

.logo {
    font-size: $size;
    overflow: hidden;
    position: relative;
    transition-property: width;
    transition-timing-function: $ease;
    transition-duration: $fast;
    width: $size * 2.4;

    &:before {
        color: $black;
        content: $kicl;
        display: block;
        font-family: $kicl_font_name;
        position: relative;
        text-indent: 0;
        transition-property: color;
        transition-timing-function: $ease;
        transition-duration: $fast;
        z-index: 1;
    }

    a {
        color: transparent;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    @include mobile () {
        width: $size;
    }
}
