$enter-size: map-get($slide-transition-sizes, enter);
$exit-size: map-get($slide-transition-sizes, exit);

.slide {
    > .css-transition-enter-active,
    > .css-transition-exit-active,
    &.css-transition-enter-active,
    &.css-transition-exit-active {
        transition-property: transform;
    }

    &.transition-backward,
    &.transition-forward {
        > .css-transition-exit,
        &.css-transition-exit {
            transform: translate3d(0, 0, 0);
        }
    }

    &.transition-backward {
        > .css-transition-enter,
        &.css-transition-enter {
            transform: translate3d(-1 * $enter-size, 0, 0);
        }

        > .css-transition-exit-active,
        &.css-transition-exit-active {
            transform: translate3d($exit-size, 0, 0);
        }
    }

    &.transition-forward {
        > .css-transition-enter,
        &.css-transition-enter {
            transform: translate3d($enter-size, 0, 0);
        }

        > .css-transition-exit-active,
        &.css-transition-exit-active {
            transform: translate3d(-1 * $exit-size, 0, 0);
        }
    }

    > .css-transition,
    &.css-transition {
        &.css-transition-enter-active,
        &.css-transition-enter-active {
            transform: translate3d(0, 0, 0);
        }
    }
}
