.#{$transition} {
  pointer-events: none;
  position: relative;

  > .#{$cssTransitionEnter} {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 2;
  }

  > .#{$cssTransitionExit} {
    z-index: 1;
  }
}

:export {
  classname: #{$transition};
}
