.#{$transition} {
  position: relative;
  pointer-events: none;

  > .#{$cssTransitionEnter} {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }

  > .#{$cssTransitionExit} {
    z-index: 1;
  }
}

:export {
  classname: #{$transition};
}
