@import 'Component/CSSTransition/style';

$className: 'transition';

$cssClassName: 'css-transition';
$cssEnterClassName: '#{$cssClassName}-enter';
$cssExitClassName: '#{$cssClassName}-exit';

.#{$className} {
  pointer-events: none;
  position: relative;

  > .#{$cssEnterClassName} {
    left: 0%;
    position: absolute;
    top: 0;
    z-index: 2;
  }

  > .#{$cssExitClassName} {
    z-index: 1;
  }
}

:export {
  className: #{$className};
}