@import 'value';

$default: get($component-global-header, 'default');

@include set-global-header-color();

[data-component="{$default}"] {
  $css-transition: #{get($component-css-transition, 'default')};
  $appear: get($component-css-transition, 'appear.default');
  $appear-active: get($component-css-transition, 'appear.active');
  $enter: get($component-css-transition, 'enter.default');
  $enter-active: get($component-css-transition, 'enter.active');
  $exit: get($component-css-transition, 'exit.default');
  $exit-active: get($component-css-transition, 'exit.active');
  $exit-done: get($component-css-transition, 'exit.done');

  $logo: get($component-logo, 'default');
  $navigation: get($component-navigation, 'default');

  $transition-delay: get($duration, 'slower');

  $bleed: get($grid, 'default');
  $color: get($black, 'default');
  $gap: get($grid, 'gutter');
  $space: get($grid, 'narrow');

  display: grid;
  grid-gap: $gap;
  grid-template-areas: 'logo navigation';
  grid-template-columns: max-content auto;
  grid-template-rows: auto;
  padding: $gap $bleed;
  position: fixed;
  width: 100vw;
  z-index: 1500;

  @include tablet() {
    padding: $space;

    > [data-component="{$navigation}"] {
      grid-gap: $space;
      grid-template-columns: auto;
      grid-template-rows: auto;
    }

    h2 {
      color: transparent;
      height: 0;
      overflow: hidden;
      position: absolute;
      width: 0;
    }
  }

  > * {
    align-self: center;
    justify-self: center;
  }

  > [data-component="{$navigation}"] {
    grid-area: navigation;
    grid-gap: $gap;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-self: end;
    text-transform: uppercase;
  }

  [data-component="{$logo}"] {
    grid-area: logo;
  }

  h2 {
    grid-area: h2;
    white-space: pre;
  }

  &.#{$css-transition} {
    z-index: 1500;

    &.#{$enter} {
      transition-delay: $transition-delay;
    }
  }
}
