$default: get($component-global-header, 'default');

$cssTransition: #{get($css-transition, 'default')};
$appear: get($css-transition, 'appear.default');
$appear-active: get($css-transition, 'appear.active');
$enter: get($css-transition, 'enter.default');
$enter-active: get($css-transition, 'enter.active');
$exit: get($css-transition, 'exit.default');
$exit-active: get($css-transition, 'exit.active');
$exit-done: get($css-transition, 'exit.done');

$logo: get($component-logo, 'default');
$navigation: get($component-navigation, 'default');

$bleed: get($grid, 'default');
$color: get($black, 'default');
$gap: get($grid, 'gutter');

[data-component='#{$default}'] {
  display: grid;
  grid-gap: $gap;
  grid-template-areas: '. . . . . .' '. logo h2 . navigation .' '. . . . . .';
  grid-template-columns: $gap max-content max-content auto max-content $gap;
  grid-template-rows: $bleed max-content auto;
  position: fixed;
  width: 100vw;
  z-index: 1000;

  > * {
    align-self: center;
    justify-self: center;
  }

  > [data-component=#{$navigation}] {
    grid-area: navigation;
    grid-gap: $gap;
    grid-template-columns: auto;
    grid-template-rows: auto;
    text-transform: uppercase;
    transition-property: font-weight;

    a {
      color: $color;
    }
  }

  [data-component=#{$logo}] {
    grid-area: logo;
  }

  h2 {
    grid-area: h2;
    white-space: pre;
  }

  &.#{$cssTransition} {
    > * {
      transition-duration: get($duration, 'normal');
      transition-property: opacity, transform;
    }

    &:not(.#{$exit}) {
      > * {
        transition-delay: get($duration, 'fast');
      }

      h2 {
        transition-delay: get($duration, 'fast') * 1.4;
      }

      > [data-component=#{$navigation}] {
        transition-delay: get($duration, 'fast') * 1.8;
      }
    }

    &.#{$exit} {
      transition-delay: get($duration, 'normal');
    }

    &.#{$appear}:not(.#{$appear-active}),
    &.#{$enter}:not(.#{$enter-active}),
    &.#{$exit}.#{$exit-active} {
      > * {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
      }
    }
  }
}
