@import '_import';

$square_size: 20px;
$square_speed: $slowest;

$block_size: ($square_size * 3);
$block_speed: $slowest * 2;
$block_color: $light_black;

@include keyframes('spinner') {
	0% {
		@include transform(rotate(0));
	}

	100% {
		@include transform(rotate(360deg));
	}
}

@mixin block_animate ($name, $X, $Y, $deg, $delay) {
	@include keyframes($name) {
		0% {
			@include opacity(0);

			@include transform(translate3d($X, $Y, 0) rotate3d(1, 0, 0, -180deg));
		}

		25% {
			@include opacity(1);

			@include transform(translate3d($X, $Y, 0) rotate3d(1, 0, 0, -180deg));
		}

		50% {
			@include opacity(1);

			@include transform(translate3d(0, 0, 0) rotate3d(1, 0, 0, -180deg));
		}

		75% {
			@include opacity(1);

			@include transform(translate3d(0, 0, 0) rotate3d(1, 0, 0, -180deg));
		}

		88% {
			@include opacity(0);

			@include transform(translate3d(($X * -1), ($Y * -1), 0) rotate3d(0, 1, 0, $deg));
		}

		100% {
			@include opacity(0);

			@include transform(translate3d($X, $Y, 0));
		}
	}

	.#{$name} {
		&:before {
			@include transform-origin(50% 50%);

			@include animation-name(#{$name});
			@include animation-duration($square_speed);
			@include animation-iteration-count(infinite);
			@include animation-delay($delay);
			@include animation-direction(alternate);
			@include animation-timing-function($ease);
		}
	}
}

[data-content-name='throbber.spinner'] {
	@include transition-delay($fastest);
	
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);

	height: 100%;
	width: 100%;

	.block {
		@include animation(spinner $block_speed infinite alternate $ease-in-expo);
	}

	@include block_animate(top, 0, 101%, -90deg, $fastest);
	@include block_animate(bottom, 0, -101%, 90deg, $fast);
	@include block_animate(left, 101%, 0, -90deg, $slow);
	@include block_animate(right, -101%, 0, 90deg, $slower);

	i {
		display: block;
		height: $block_size;
		position: relative;
		width: $block_size;

		i {
			height: $square_size;
			overflow: hidden;
			position: absolute;
			width: $square_size;

			&:before {
				@include content();

				background-color: $block_color;
				display: block;
				height: 100%;
				width: 100%;
			}
		}
	}

	span {
		@include hidden();
	}

	.top,
	.bottom,
	.middle {
		left: $square_size;
	}

	.left,
	.right,
	.middle {
		top: $square_size;
	}

	.top {
		border-top: -1px;
		top: -1px;
	}

	.bottom {
		bottom: -1px;
	}

	.left {
		left: -1px;
	}

	.right {
		right: -1px;
	}
}