[data-routes^='works.'] {
  grid-column-end: 4;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-row-start: 1;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  z-index: 2;
}

[data-entered-routes^='works.'] {
  $color: get($white, 'default');

  @include set-global-header-color($color);
}
