[role="navigation"] {
  ul {
    display: grid;
    justify-content: center;

    &:not(.isVertial) {
      grid-auto-flow: row;
      grid-row-gap: $gutter;
    }

    &.isVertial {
      grid-auto-flow: column;
      grid-column-gap: $gutter;
    }
  }
}
