<nav
    role="navigation"
    class="navigation"
    data-route="{{navigation.route}}"
    ng-if="navigation.list.length > 0"
>
    <ul><!--
        --><li
            ng-repeat="list in navigation.list track by $index"
            ng-class="{
                'isCurrent' : $root.helper._.where([navigation.state], list.state).length > 0
            }"
        >
            <a ui-sref="{{list.route}}" ng-if="list.route">{{list.name}}</a>
            <a ng-href="{{list.link}}" target="_blank" ng-if="list.link">{{list.name}}</a>
        </li>
    </ul>
</nav>