<nav
    role="navigation"
    class="sitemap"
>
    <script type="text/ng-template" id="sitemap-list.html">
        <a
            class="fa"
            ui-sref="{{list.route}}"
            ng-if="list.route"
            ng-class="{
                'fa-caret-down' : list.children
            }"
        >{{list.name}}</a>
        <a
            ng-href="{{list.link}}"
            ng-if="list.link"
            target="_blank"
        >{{list.name}}</a>
        <ul ng-if="list.children">
            <li
                ng-repeat="list in list.children"
                ng-class="{
                    'isCurrent' : $root.helper._.where([sitemap.state], list.state).length > 0,
                    'hasChildren' : list.children
                }"
                ng-include="'sitemap-list.html'"
            ></li>
        </ul>
    </script>
    <p id="sitemap_label" class="isHidden">{{resource.title}}</p>
    <ul
        aria-labelledby="sitemap_label"
    >
        <li
            ng-repeat="list in sitemap.list track by $index"
            ng-class="{
                'isCurrent' : $root.helper._.where([sitemap.state], list.state).length > 0,
                'hasChildren' : list.children
            }"
            ng-include="'sitemap-list.html'"
        ></li>
    </ul>
</nav>