@import '_import';

[data-api='behance.project'] {
    $image_padding_top: 71.11%;
    $image_space : rem($space / 2);

    margin: 0 auto;
    max-width: grid-size($tablet-size);
    padding: rem($gutter);
    position: relative;

    h1,
    p {
        text-align: center;
    }

    h1 {
        @include set-font-size(1.5);

        margin-top: rem($gutter);
    }

    img {
        @include hidden();
    }

    p {
        width: 100%;

        &:first-child {
            &:not(.isImage) {
                @include set-font-size(1.5);
            }
        }

        &.isImage {
            @include set-transition(border-color, padding-top);

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border: 1px solid $grey;
            border-radius: rem($space / 3);
            cursor: -webkit-zoom-in;
            width: calc(100% - #{$image_space * 2});

            &:before {
                content: '\0020';
                display: block;
                padding-top: $image_padding_top;
                position: relative;
                width: 100%;
                z-index: 0;
            }

            &:hover {
                border-color: $black;
            }

            + .isImage {
                margin-left: $image_space;
                margin-right: $image_space;
                width: calc(50% - #{$image_space * 2});

                @include mobile () {
                    width: 100%;
                }
            }

            + p:not(.isImage) {
                @include set-font-size(1.5);

                font-weight: $thick_font_weight;
                margin-top: rem($gutter * 2);
                padding: 0 rem($gutter);

                @include largemobile () {
                    @include set-font-size(1.2);
                }
            }
        }
    }

    header {
        @include display(flex);
        @include flex-direction(column);
        @include align-items(center);

        margin-bottom: rem($gutter);

        figure {
            @include order(1);

            @include box-shadow($shadow-center);

            @include circle(grid-size(2));

            background-position: center;
            background-size: cover;
        }

        h1 {
            @include order(2);
        }

        p {
            @include order(3);

            margin-bottom: rem($gutter);
        }

        .fields {
            @include order(4);
        }
    }

    div {
        @include display(flex);
        @include flex-wrap(wrap);
        @include justify-content(center);
    }

    aside {
        margin: rem($gutter);
    }

    .fields,
    .stats,
    .tags {
        @include pills();

        li {
            @include box-shadow($shadow-center);
        }
    }

    .stats {
        li {
            @include display(flex);

            padding: 0;
        }

        span {
            @include pill();

            border-radius: 0;

            &:first-child {
                font-weight: $thicker_font_weight;
            }

            + span {
                border-left: 1px solid $grey;
            }
        }
    }

    .tool {
        $font-size: 1;

        @include display(flex);
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(center);

        padding: rem($space);

        button,
        a {
            @include display(flex);
            @include align-items(center);
            @include justify-content(center);

            @include set-font-size($font-size);
        }

        i {
            margin-right: rem($space);

            &:before {
                height: rem($gutter * $font-size * 1.02);
                text-align: center;
                width: rem($gutter * $font-size * 1.02);
            }
        }
    }
}

