@import '_import';

[data-api="behance.experience"] {
	ul {
		li {
			.box-sizing(border-box);

			&:first-child {
				font-size: 2rem;
				line-height: 2.5rem;

				@media all and (max-width: @screen_ls) {
					font-size: (@h_font_size * .4);
					line-height: (@h_font_size * .6);
				}

				time {
					@media all and (max-width: @screen_ls) {
						display: block;
					}
				}
			}

			+ li {
				padding-top: @space;

				time {
					padding-right: @space;

					@media all and (max-width: @screen_ls) {
						display: block;
					}
				}
			}
		}
	}

	time {
		font-weight: 400;
	}
}
