@import '_import';

[data-api="behance.project"] {
	@gap: (@space * 2);
	@avator_size: (@grid * 2);

	.display(flex);
	.flex-wrap(wrap);
	.justify-content(skretch);

	.loader {
		.display(flex);
		.align-items(center);
		.justify-content(center);

		color: @green;
		font-size: 2rem;
		text-align: center;

		.spinner {
			.display(flex);
			.align-items(center);
			.justify-content(center);
			text-indent: 0;
		}

		.word {
			text-indent: -9999px;
			overflow: hidden;
		}
	}

	header {
		.display(flex);
		.flex-direction(column);
		.align-items(center);

		.background-size(cover);

		background-position: center;
		background-repeat: no-repeat;
		text-align: center;
		width: 100%;

		h3,
		p,
		.fields {
			margin-top: @gap;
		}

		h3 {
			.order(2);

			border-bottom: 1px dashed @grey;
			padding-bottom: @gap;
			width: 100%;
		}

		i {
			.order(1);
			.circle(@avator_size);
			.box-shadow(@shadow);
		}

		p {
			.order(3);
		}

		.fields {
			.order(4);
		}
	}

	div {
		.display(flex);
		.flex-wrap(wrap);
		.justify-content(space-between);

		.box-sizing(border-box);

		@media all and (min-width: @screen_ls) {
			padding-right: @gap;
			width: 70%;
		}

		@media all and (max-width: @screen_ls) {
			width: 100%;
		}
	}

	aside {
		margin: @gap 0;

		@media all and (min-width: @screen_ls) {
			width: 30%;
		}

		@media all and (max-width: @screen_ls) {
			width: 100%;
		}
	}

	p {
		width: 100%;
		&.img {
			.background-size(cover);

			background-repeat: no-repeat;
			background-position: center;

			width: 100%;

			+ .img {
				width: 48%;

				@media all and (max-width: @screen_m) {
					width: 100%;
				}
			}
		}

		+ p {
			margin-top: @gap;
		}
	}

	img {
		height: 100%;
		width: 100%;
	}

	.fields,
	.stats,
	.tags {
		.display(flex);
		.flex-wrap(wrap);

		li {
			.border-radius(@corner);
			.truncate(auto);
		}
	}

	.fields,
	.stats {
		li {
			padding: @space / 2 @gap;
		}
	}

	.fields,
	.tags {
		text-align: center;
	}

	.stats,
	.tags {
		@size: (@grid / 2);

		@media all and (min-width: @screen_ls) {
			.flex-direction(column);
		}

		@media all and (max-width: @screen_ls) {
			.flex-direction(row);
			.justify-content(center);
		}

		li {
			margin: 0 @space @space;
		}

		span {
			font-weight: @bold;
		}
	}

	.fields {
		.justify-content(center);

		margin: @space 0;

		li {
			background-color: @darker_white;
			color: @gold;
			margin: 0 @space @space;
		}
	}

	.stats {
		margin-bottom: @gap;

		li {
			background-color: @gold;
			color: @dark_white;
		}
	}

	.tags {
		font-size: @font_size * .8;

		li {
			background-color: @darker_white;
			color: @black;
			padding: @space / 3 @space;
		}
	}

	.tool {
		.display(flex);
		.justify-content(flex-end);
		.align-items(center);

		li {
			.order(1);

			&.close {
				.order(2);
			}

			+ li {
				margin-left: @space;
			}
		}

		a,
		button {
			.setIcon(1.5rem);

			color: @dark_grey;

			&:hover {
				color: @gold;
			}
		}
	}
}
