@import '_import';

[data-api="behance.projects"] {
	@size: @grid_sl;
	@size_enlarged: @size * 1.05;
	@bleed: -1 * ((@size_enlarged - @size) / 2);

	@gap: (@space * 2);
	@gap_enlarged: (@gap * 2);

	figure {
		.display(flex);
		.flex-direction(row);
		.align-items(center);

		@media all and (max-width: @screen_l) {
			.justify-content(center);
		}
	}

	a {
		.transition-property(box-shadow, min-height, margin, min-width);
		.transition-timing-function(@ease);
		.transition-duration(@speed_fastest);

		.box-shadow(@shadow);
		.circle(@size);

		.background-size(cover);

		background-repeat: no-repeat;
		background-position: center;
		display: block;
		position: relative;
		z-index: 1;

		@media all and (max-width: @screen_l) {
			.circle((@size * .5));
		}

		&:hover {
			+ figcaption {
				.title {
					color: @gold;
				}
			}
		}
	}

	img {
		.opacity(0);
		height: 100%;
		width: 100%;
	}

	figcaption {
		.transition-property(color, margin);
		.transition-timing-function(@ease);
		.transition-duration(@speed_fastest);

		@media all and (max-width: @screen_mm) {
			margin-left: @gap;
		}

		@media all and (max-width: @screen_l) {
			width: 100%;
		}
	}

	li {
		display: block;
		height: @size;
		position: relative;
		width: 100%;

		@media all and (max-width: @screen_mm) {
			+ li {
				margin-top: @gap * 2;
			}
		}

		@media all and (max-width: @screen_l) {
			height: auto;

			+ li {
				margin-top: @gap;
			}
		}

		@media all and (min-width: @screen_mm) {
			&:nth-child(odd) {
				figcaption {
					margin-left: @gap;
				}
			}

			&:nth-child(even) {
				text-align: right;

				figure {
					.flex-direction(row-reverse);
				}

				figcaption {
					.transition-property(margin-right);

					margin-right: @gap;
				}
			}

			+ li {
				figure {
					margin-top: -(@size / 3);
				}
			}
		}
	}

	.title {
		.transition-property(color);
		.transition-timing-function(@ease);
		.transition-duration(@speed_faster);

		.truncate();

		font-weight: @bold;
	}
}
