@import '_import';

[data-api="behance.projects"] {
	@size: @grid_sl;
	@size_enlarged: @size * 1.05;
	@bleed: -1 * ((@size_enlarged - @size) / 2);

	@gap: (@space * 2);
	@gap_enlarged: (@gap * 2);

	figure {
		.display(flex);
		.flex-direction(row);
		.align-items(center);

		@media all and (max-width: @screen_l) {
			.justify-content(center);
		}
	}

	a {
		.transition-property(box-shadow, height, margin, width);
		.transition-timing-function(@ease);
		.transition-duration(@speed_fastest);

		.circle(@size);

		.background-size(cover);

		background-repeat: no-repeat;
		background-position: center;
		display: block;
		position: relative;
		z-index: 1;

		@media all and (max-width: @screen_l) {
			.circle((@size * .5));
		}

		&:hover {
			.box-shadow(@shadow);

			@media all and (min-width: @screen_mm) {
				.circle(@size_enlarged);

				margin: @bleed;
			}

			@media all and (max-width: @screen_l) {
				.box-shadow(none);
			}

			+ figcaption {
				.title {
					color: @gold;
				}
			}
		}
	}

	img {
		.opacity(0);
		height: 100%;
		width: 100%;
	}

	figcaption {
		.transition-timing-function(@ease);
		.transition-duration(@speed_fastest);

		@media all and (max-width: @screen_mm) {
			margin-left: @gap;
		}

		@media all and (max-width: @screen_l) {
			width: 100%;
		}
	}

	li {
		display: block;
		height: @size;
		position: relative;
		width: 100%;

		@media all and (max-width: @screen_mm) {
			+ li {
				margin-top: @gap;
			}
		}

		@media all and (min-width: @screen_mm) {
			&:nth-child(odd) {
				a {
					&:hover {
						+ figcaption {
							margin-left: @gap_enlarged;
						}
					}
				}

				figcaption {
					.transition-property(margin-left);

					margin-left: @gap;
				}
			}

			&:nth-child(even) {
				text-align: right;

				figure {
					.flex-direction(row-reverse);
				}

				a {
					&:hover {
						+ figcaption {
							margin-right: @gap_enlarged;
						}
					}
				}

				figcaption {
					.transition-property(margin-right);

					margin-right: @gap;
				}
			}

			+ li {
				figure {
					margin-top: -(@size / 3);
				}
			}
		}

		@media all and (max-width: @screen_l) {
			height: auto;
		}
	}

	.title {
		.transition-property(color);
		.transition-timing-function(@ease);
		.transition-duration(@speed_faster);

		.truncate();

		font-weight: @bold;
	}
}
