.view-work-header {
  align-content: center;
  align-items: start;
  display: grid;
  grid-gap: $space;
  grid-template-areas:
    "image"
    "h1"
    "p";
  height: 100vh;
  justify-items: center;
  padding: 0 $space;
  text-align: center;

  h1 {
    font-size: 1rem;
    grid-area: h1;
    padding-top: 2vh;
  }

  .image {
    @include circle();
  }

  p {
    color: $grey;
    grid-area: p;
  }
}
